@charset "utf-8";

/* 버튼스타일 */
.btn_w {display:inline-block; height:40px; margin:0 1px; padding:0 30px !important; font:inherit !important; color:#666; line-height:36px !important; text-decoration:none !important; border:2px solid #d8d8d8; border-radius:3px; background:#fff; cursor:pointer; vertical-align:middle}
.btn-default {border-color:#ddd}
.btn-default:hover {color:inherit !important; border-color:#cdcdcd; background:#f4f4f4}
.btn-primary {color:#fff !important; border-color:#ff5519; background:#ff5519}
.btn-primary:hover {border-color:#ff5519!important; background:#fff!important;color:#ff5519 !important}
.btn-danger {color:#fff !important; border-color:#c14646; background:#cc4a4a}
.btn-danger:hover {border-color:#ad4444 !important; background:#b44b4b!important}
.btn_w i {margin-right:10px; vertical-align:-1px}
.btn_w i.right {margin:0 0 0 10px}
.btn-sm {height:35px; padding:0 20px !important; border-radius:2px; line-height:31px !important}
.btn-lg {height:50px; line-height:48px !important}

/* 제품소개 스타일 */
.gallery_inner {width:102.67%; margin-left:-1.219%}
.gallery_inner > table {float:left; display:block; width:30.89% !important; margin:0 1.219% 30px 1.219%}
.gallery_inner td.bbsnewf5 {background:#f7f7f7;text-align:left;}
.gallery_inner td.bbsnewf5 td > a {position:relative;display:block;}
.gallery_inner td.bbsnewf5 a > img {display:block; width:100%; height:auto !important; transition:all .5s ease}
.gallery_inner td.bbsnewf5 td > a:before {background:#000;position:absolute;left:0px;top:0px;width:100%;height:100%;content:'';opacity:0;transition:all .3s ease}
.gallery_inner td.bbsnewf5 td > a:after {content:'+';position:absolute;left:50%;margin-left:-14px;;top:50%;margin-top:-20px;color:#fff;font-size:50px;opacity:0;transition:all .3s ease}
.gallery_inner td.bbsnewf5:hover td > a:before {opacity:.5;}
.gallery_inner td.bbsnewf5:hover td > a:after{opacity:1;margin-top:-10px;}

/* 제품소개 4단 추가스타일 */
.gallery_inner.four > table {width:22.56% !important;}
.gallery_inner.four td.bbsnewf5 td div.inner {text-align:left;height:245px;padding:40px 0px !important;background:#fff !important;}
.gallery_inner > table.board {width:100% !important}

/*.gallery_inner td.bbsnewf5 a:hover > img {transform:scale(1.1)}*/
.gallery_inner td.bbsnewf5 td div.inner {text-align:left;height:265px;}
.gallery_inner .hoverBox {position:absolute; display:block; top:0; left:0; width:100%; height:100%; padding:32% 30px 0 30px; text-align:center; background:rgba(0,0,0,.8); opacity:0; transition:all .5s ease}
.gallery_inner .hoverBox .inner {}
.gallery_inner .hoverBox .inner h3 {font-size:24px; font-weight:600; color:#fff; line-height:1.2}
.gallery_inner .hoverBox .inner h3:after {display:block; width:40px; height:1px; margin:20px auto; content:''; background:#fff; opacity:.5}
.gallery_inner .hoverBox .inner p {display:-webkit-box; color:#fff; max-height:69px; -webkit-box-orient:vertical; -webkit-line-clamp:3; overflow:hidden; text-overflow:ellipsis}
.gallery_inner .bbsnewf5:hover .hoverBox {opacity:1}
.bbsnewf5 {position:relative; overflow:hidden}
.brd_paging {display:block; text-align:center}
.brd_paging > b, .brd_paging > a {display:inline-block; width:38px; height:38px; line-height:36px; text-align:center; margin:0 -2px; border:1px solid #e8e8e8}
.brd_paging > b {color:#fff; border-color:#666; background:#666}
.brd_paging > a {color:#666}
.brd_paging > a:hover {color:#555; border-color:#cdcdcd; background:#f4f4f4}
.btn-more {display:block; width:185px; margin:30px auto; height:45px; font-size:16px; color:#000; text-align:center; border:2px solid #000; background:transparent; cursor:pointer; transition:all .3s ease; vertical-align:middle}
.btn-more:disabled {color:#bbb !important; border-color:#ccc !important; background:#f4f4f4 !important}
.btn-more:hover {color:#fff; background:#000}
/* 게시판 공통 */
.bbsnewf5 {font:inherit !important}
.bbsnewf5 a:hover {color:inherit !important;color:#21bbb1 !important;}
.board {font-family:inherit !important}
.tbl_brd {width:100%; margin-bottom:40px; border-top:2px solid #666}
.tbl_brd input {font:inherit !important}
.tbl_brd input[type=file] {width:80%}
.tbl_brd input[type=text], .tbl_brd input[type=password] {width:80%; height:40px; padding-left:10px; border:1px solid #e8e8e8; border-radius:3px; color:#666}
.tbl_brd input[type=text]:focus, .tbl_brd input[type=text]:hover, .tbl_brd input[type=password]:focus, .tbl_brd input[type=password]:hover {border-color:#d8d8d8}
.tbl_brd select {height:40px; line-height:38px; padding:0 10px; border:1px solid #e0e0e0; cursor:pointer}
.tbl_brd textarea {font:inherit !important; width:80%; max-height:120px; padding:10px; border:1px solid #e0e0e0; border-radius:3px}
.tbl_brd textarea:focus, .tbl_brd textarea:hover {border-color:#d8d8d8}
.tbl_brd select:focus, .tbl_brd select:hover {border-color:#d8d8d8}
.tbl_brd tbody td {font:inherit !important; font-size:14px !important; padding:15px; border-bottom:1px solid #e0e0e0}
.tbl_brd tbody td font, .tbl_brd tbody td span, .tbl_brd tbody td a {font:inherit !important; font-size:14px !important}
.board_bgcolor {width:30% !important; font:inherit !important; color:#333; background:#f9f9f9 !important}
#post_area img {max-width:100%; height:auto !important}
.prvThumbList {margin-top:40px}
.prvThumbList > table td table {width:135px}
div.nneditor-container .seResize2 span {font-size:0 !important}
.brd_btngroup {margin-top:50px}
.brd_btngroup a {margin-top:2px; margin-bottom:2px}
#check_all {margin-left:5px; vertical-align:-5px}
.board_bottom {margin-top:50px}
.board_bottom > a {float:right}
#ext_search {float:left}
#ext_search select {height:35px; line-height:38px; margin-right:5px; padding:0 10px; border:1px solid #e0e0e0; cursor:pointer;margin-bottom:0px;width:auto;}
#ext_search select:focus, #ext_search select:hover {border-color:#d8d8d8}
#ext_search input[type=text] {height:35px; margin-right:5px; padding-left:10px; border:1px solid #e8e8e8; border-radius:3px; color:#666;margin-bottom:0px;width:auto;}
#ext_search input[type=text]:focus, #ext_search input[type=text]:hover {border-color:#d8d8d8}
.board_comment_bgcolor {padding-bottom:20px; background-color:#f9f9f9 !important}
.comment_txt {padding:10px 0 !important; word-break:}
.comment_txt:first-child {padding:20px !important}
.comment_txt textarea {width:60%; width:-webkit-calc(100% - 120px); width:-moz-calc(100% - 120px); width:calc(100% - 120px); height:50px; padding:10px; font:inherit !important; border:1px solid #e8e8e8; border-radius:3px}
.comment_txt > a.btn {margin:2px 0; padding:0 15px !important; height:30px !important; line-height:28px !important}
.comment_txt > font {display:block; margin-bottom:10px; color:#ccc !important}
.comment_name {color:#333 !important; width:20% !important}
.comment_name input[type=checkbox] {margin-right:5px; vertical-align:middle}
/* 게시판 카테고리 탭 */
.cate_select {display:none !important}
.board_tab {position:relative; margin-bottom:50px}
.board_tab > a {display:none}
.board_tab ul {border-bottom:1px solid #e0e0e0}
.board_tab ul > li {float:left; margin-bottom:-1px; margin-left:-1px}
.board_tab ul > li:first-child {margin-left:0}
.board_tab ul > li > a {display:block; padding:12px 30px; color:#999; border:1px solid #e0e0e0; background:#f4f4f4}
.board_tab ul > li.on > a {position:relative; color:#333; border-color:#aaa; border-bottom-color:#fff; background:#fff; z-index:10}

/* 미디어 쿼리 */
@media screen and (max-width:1280px) {
/* 제품소개 스타일 */
.gallery_inner .hoverBox {padding-top:25%}
}
@media screen and (max-width:1024px) {
/* 서브 공통 레이아웃 */
#sub_visual ul {height:300px}
#sub_visual .title .inner h2 {font-size:42px}
#sub_visual .title .inner h2:after {margin:25px auto}
#sub_visual .title .inner h3 {font-size:24px}
#container > .inner {border:none}
#container > .inner img.img_tab {display:block !important}
#container > .inner img.img_pc, #container > .inner img.img_mob {display:none !important}
#nav {float:none; width:100%; margin:0; border-bottom:1px solid #dcdcdc}
#nav:after {clear:both; display:block; content:''}
.btm_img {height:450px}
.btm_img .inner .caption p {max-width:90%}
/* 제품소개 스타일 */
.gallery_inner .hoverBox {padding-top:20%}
.gallery_inner .hoverBox .inner h3 {font-size:18px}
.gallery_inner .hoverBox .inner p {font-size:12px; max-height:63px}
/* 게시판 카테고리 탭 */
.cate_select {display:none !important}
.board_tab {margin:auto auto 50px auto}
.board_tab > a {position:relative; display:block !important; width:100%; height:50px; padding-left:15px; font-size:16px; line-height:50px; border:1px solid #e0e0e0}
.board_tab > a:after {position:absolute; font-family:'FontAwesome'; font-size:18px; color:#333; right:20px; content:'\f107'}
.board_tab > a.open:after {content:'\f106'}
.board_tab ul {display:none; position:absolute; top:49px; width:100%; margin:0; border:1px solid #e8e8e8; border-top:none; background:#fff; z-index:30}
.board_tab ul > li {float:none; display:block; margin:0}
.board_tab ul > li > a {display:block; padding:12px 15px; font-size:16px; color:#999; border:none; border-top:1px solid #f0f0f0; background:none}
.board_tab ul > li.on > a {color:#333; border-color:#f0f0f0}
}
@media screen and (max-width:768px) {
/* 제품소개 스타일 */
.gallery_inner {width:103.5%; margin-left:-1.6129%}
.gallery_inner > table {width:46.77% !important; margin:0 1.6129% 20px 1.6129%;}
.gallery_inner td.bbsnewf5 td div.inner {height:230px;}
.gallery_inner .hoverBox {padding:25% 20px 0 20px}
.gallery_inner.four > table {width:46.77% !important;}
.gallery_inner.four td.bbsnewf5 td div.inner {height:245px;}
.gallery_inner > table.board {width:100% !important;}
/* 게시판 읽기 */
.tbl_brd tbody td {font-size:12px !important; padding:12px 10px}
.tbl_brd tbody td font, .tbl_brd tbody td span, .tbl_brd tbody td a {font-size:12px !important}
.prvThumbList table td {padding:2px !important}
.prvThumbList > table {width:100%}
.prvThumbList > table td table {width:33%}
.prvThumbList img {width:100%; height:auto}
/* 게시판 공통 */
#ext_search {display:none}
.comment_name {display:block !important; width:100% !important; padding:10px !important}
.comment_txt[align=left], .comment_txt[align=right] {display:block !important; width:100% !important; text-align:left !important; padding:10px !important}
}
@media screen and (max-width:640px) {
/* 서브 공통 레이아웃 */
#sub_visual {height:200px}
#sub_visual ul {height:200px !important}
#sub_visual .title {padding-top:15%}
#sub_visual .title .inner h2 {font-size:24px}
#sub_visual .title .inner h2:after {margin:15px auto; width:30px}
#sub_visual .title .inner h3 {font-size:16px}
#container > .inner {padding:30px 25px 50px 25px}
#container > .inner .title h2 {font-size:24px}
#nav .title {display:none}
#nav .inner {padding:0}
#nav .inner:after {clear:both; display:block; content:''}
#nav .dropdown {min-width:inherit; width:50%; width:-webkit-calc(50% + 1px); width:-moz-calc(50% + 1px)}
#nav .dropdown:last-child a {border-right:none}
#nav .dropdown > a {padding:0 50px 0 15px; font-size:12px; font-weight:400}
#nav .dropdown > ul.mnuList li a {padding:10px 15px; font-size:12px}
#container > .inner h3.sub_tit {font-size:16px; font-weight:600}
#container > .inner img.img_mob {display:block !important}
#container > .inner img.img_pc, #container > .inner img.img_tab {display:none !important}
.btm_img {height:400px}
.btm_img .inner {padding:0 30px}
.btm_img .inner .caption h2 {font-size:36px}
.btm_img .inner .caption p {max-width:100%; font-size:13px}
/* 게시판 - 공지사항 */
.brd_notice .att_title:first-child {display:none}
.brd_notice .att_title:nth-child(3) {display:none}
.brd_notice .bbsno {display:none}
.brd_notice .bbswriter {display:none}
/* 게시판 - QNA */
.brd_qna .att_title:first-child {display:none}
.brd_qna .att_title:nth-child(4) {display:none}
.brd_qna .att_title:nth-child(5) {display:none}
.brd_qna .att_title:nth-child(6) {display:none}
.brd_qna .bbsno {display:none}
.brd_qna .bbsetc_dateof_write {display:none}
.brd_qna .bbspublic_ox {display:none}
}
@media screen and (max-width:480px) {
/* 제품소개 스타일 */
.gallery_inner {width:100%; margin-left:0}
.gallery_inner > table {width:100% !important; margin:0 0 40px 0 !important}
.gallery_inner .hoverBox {padding-top:32%}
.gallery_inner.four > table {width:100% !important;}
}


.padding-40px-all {padding:40px;}
.post-details > a {margin-bottom:15px;font-size:16px;display:block;}
.post-details > p {font-size:14px;line-height:1.5;}

@media screen and (max-width:991px) {

.padding-40px-all {padding:20px;}
}