/*------------*/
.post-parallax {
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    background-image: url("../../img/4.jpg")!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

.post-parallax .relative {
    float: left;
}
.post-parallax .space {
    padding: 0 30px;
}
.post-parallax .massive-progress {
    background: #606060;
}
.post-parallax .massive-progress .progress-bar {
    color: #222;
    background: #fff;
}
.relative {
    position: relative;
}
.post-parallax .dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, .5);
}
.post-parallax .container {
    /*z-index: 100;*/
    position: relative;
}

/**/
.testimonial-parallax {
    background-image: url("../img/2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}
.testimonial-alt .testi-auth .avatar {
    float: left;
    margin-right: 30px;
}
.testimonial-alt .content {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 4px;
    background: #f5f5f5;
}
.testimonial-alt .content:after {
    position: absolute;
    bottom: -7px;
    left: 25px;
    display: block;
    width: 15px;
    height: 14px;
    content: "";
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-style: none;
    border-color: #f5f5f5;
    border-right: 1px solid #f5f5f5;
    -o-border-image: none;
       border-image: none;
    background-color: #f5f5f5;
}
.testimonial-alt .content p {
    margin: 0;
    padding: 0;
}
.testimonial-alt .testi-auth .testimonial-meta {
    display: inline-block;
    margin-top: 15px;
}
.testimonial-alt .testi-auth .avatar,
.testimonial-alt .testi-auth .avatar a,
.testimonial-alt .testi-auth .avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#testimonial-4.owl-theme .owl-controls .owl-page span {
    width: 8px;
    height: 8px;
    background: #cecece;
}
.left-align {
    text-align: left !important;
}
.testimonial-thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
.testimonial-thumb img {
    width: 100%;
    height: auto;
}

/* ������ */
.tbl_formmail {width:100%; margin-bottom:40px}
.tbl_formmail:before {display:block; width:100%; height:1px; margin-bottom:40px; content:''; background:#e8e8e8}
.tbl_formmail input {font:inherit !important}
.tbl_formmail input[type=file] {width:100%}
.tbl_formmail input[type=text], .tbl_formmail input[type=password] {width:100%; height:60px; font-size:14px !important; color:#666; padding-left:20px; border:none; border-radius:4px; background:#f0f0f0}
.tbl_formmail input[name^=phone] {width:80px !important}
.tbl_formmail select {height:40px; line-height:38px; padding:0 10px; border:1px solid #e0e0e0; cursor:pointer}
.tbl_formmail textarea {font:inherit !important; font-size:14px !important; line-height:1.75; width:100%; min-height:150px; padding:20px; border:none; border-radius:4px; background:#f0f0f0}
.tbl_formmail select:focus, .tbl_formmail select:hover {border-color:#d8d8d8}
.tbl_formmail tbody td {font:inherit !important; font-size:0 !important; padding:3px 0}
.tbl_formmail tbody td br {display:none}
.tbl_formmail tbody td font, .tbl_formmail tbody td span, .tbl_formmail tbody td a {font:inherit !important; font-size:14px !important}
.formmail_title_bgcolor {display:none}



@media screen and (max-width:640px) {
/* ������ */
.tbl_formmail input {font:inherit !important; font-size:12px !important}
.tbl_formmail input[type=text], .tbl_formmail input[type=password] {font-size:12px !important}
.tbl_formmail input[name^=phone] {width:50px !important}
.tbl_formmail select {font-size:12px !important}
.tbl_formmail textarea {font-size:12px !important}
}
