/* =====================================================
 * Title : Dimetime
 * Author : 더자람 장누가 초안
 * Date : 2022.12.11.
 */

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800;900&display=swap');

/* common */
.body-content {background-color: #000000}
.body-content .content-box {width:100%}
.body-content img {width:100%}
.body-content h1 {text-shadow: 0px 0px 2px #7bb0cf;font-size:2em; font-weight: 700;letter-spacing: 6px;}
.jp-body{font-family: 'Noto Sans JP', sans-serif;}
.en-body{font-family: 'Noto Sans', sans-serif;}
.m-br {display: inline-block}
.pc-br {display: none}
@media screen and (min-width:768px) {
    .m-br {display: none}
    .t-br {display: inline-block}
    .pc-br {display: inline-block}
}
@media screen and (min-width:1024px) {
    .t-br {display: none}
    .pc-br {display: inline-block}
}

/* parking page */
#parking {background-color: #000; display: flex;justify-content: center;align-items: center;min-height: 100vh;}
#parking img {max-width:300px;}
#parking-box {background-color: #000; padding: 30px 0; vertical-align: middle}
#parking-box h1 {margin: 20px 0 40px 0}
#parking-box ul {list-style: none; width: 100%; padding: 0; display: flex; justify-content: center;}
#parking-box ul > li {padding:0 20px}
#parking-box ul > li img {height: 25px}
#parking-box ul > li img:hover {filter: brightness(0) invert(1);}
@media screen and (min-width:768px) {
    #social-box ul > li {padding:0 30px}
}

/* navbar */
.logo-brand img {height:40px}
.l-navbar_t-dark-trans {background: rgb(250 250 250 / 90%); backdrop-filter: blur(30px);}
.l-navbar_t-dark-trans .showhide em {background: #000;}
.menuzord-menu {background: #fff0;}
.menuzord-menu > li > a {font-size:18px; color:#000;}
.menuzord-menu ul.dropdown, .menuzord-menu ul.dropdown li ul.dropdown {background: none}
.menuzord-menu ul.dropdown{min-width:100px;}
.menuzord-menu ul.dropdown li a {width:100px;font-size: 18px;font-weight: 700;background: rgb(250 250 250 / 75%);backdrop-filter: blur(30px);text-align: center;}
.menuzord-menu li .indicator {font-size: 10px;position: relative;top: -2px;margin-left: 10px;}
@media screen and (min-width: 769px){
    .l-navbar {background: rgb(250 250 250 / 75%);backdrop-filter: blur(30px);height: 60px;}
    .l-navbar_t-dark-trans {background: rgb(250 250 250 / 75%); backdrop-filter: blur(30px);}
    .l-navbar .container, .l-navbar .container .menuzord, .l-navbar .container .menuzord .logo-brand, .l-navbar .container .menuzord-menu, .l-navbar .container .menuzord-menu a {height: 60px; line-height: 60px;}
    .l-navbar-wrapper_has-sticky .l-navbar_t-semi-trans, .l-navbar-wrapper_has-sticky .l-navbar_t-dark-trans {background: rgb(250 250 250 / 75%);backdrop-filter: blur(30px);}
    .l-navbar .container .menuzord-menu ul.dropdown li a {line-height: 40px;}
}


/* main box */
#main-box {height: 100vh;background-image: url(../../../default/img/dimetime/1_background_long.jpg);background-size: cover;background-position: center center;min-height: 400px;padding: 100px 0;-webkit-animation-name: backgroundChange;-webkit-animation-duration: 100s;-webkit-animation-timing-function: linear;-webkit-animation-iteration-count: infinite;}
#main-box .banner-title {display: block}
#main-box .banner-title img {height: 200px}
#main-box .banner-title img { animation: swing 6s infinite ease; color: #fff; text-align: center;  transform-origin: bottom center;}
#main-box .banner-title img:nth-child(1) {display:none}
#main-box .banner-title img:nth-child(3) {display:block; position: relative; top: 80px}
#main-box .banner-title h2 {padding-top:60px; font-family: "Manrope"; color: #01252D; font-weight: 500; letter-spacing: -1.5px; font-size: 2em; text-shadow: 0px 0px 12px white; padding:20px 0 0 0}
#main-box .banner-title h2 > span {font-weight: 700; font-size: 1.3em}
#main-box .banner-link {display: block; text-align: center; position:relative; top:130px; margin: 0 auto}
#main-box .banner-link a img{display: inline-block; height:60px; margin:5px 5px}
#main-box .banner-link a:nth-child(3) {display: none}
@media screen and (min-width:768px) {
    #main-box .banner-title {display: flex}
    #main-box .banner-title img {height: 250px}
    #main-box .banner-title img:nth-child(1) {display:block; position: relative; top: 100px}
    #main-box .banner-title img:nth-child(3) {display:none}
    #main-box .banner-title h2 {font-size: 2.5em;}
    #main-box .banner-link {top: 170px; text-align: right}
    #main-box .banner-link a img{height:70px; }
    #main-box .banner-link a:nth-child(3) {display: inline-block}
}
@media screen and (min-width:1024px) {
    #main-box .banner-title img {height: 300px}
    #main-box .banner-title h2 {font-size: 2.8em;}
    #main-box .banner-link {top: 150px;}
}
@media screen and (min-width:1200px) {
    #main-box .banner-title img {height: 350px}
    #main-box .banner-title h2 {font-size: 3.5em;}
}
@-webkit-keyframes backgroundChange {
    from {
        background-position: 0% 0%
    }
    to {
        background-position: 187% 0%
    }
}
@keyframes swing
{
    0%{ transform: rotate(-1deg);}
    50%{ transform: rotate(2deg);}
    100%{ transform: rotate(-1deg);}
}


/* focus box */
#about {background-color: #000}
#focus-box .heading-title-alt > h1 {font-size:1.6em; letter-spacing: -0.5px}
#focus-box .heading-title-alt > h3 {letter-spacing: -0.5px; color: #96bed0; font-weight: 700;font-size: 1.2em;margin-top: 10px;}
#focus-box .heading-title-alt > p {line-height: 24px; font-weight:700; color: #96bed0 !important;}
#focus-box #focus-items ul {list-style:none; padding:20px}
#focus-box #focus-items ul > li {margin-bottom:30px}
#focus-box #focus-items ul > li > img {width: 150px}
#focus-box #focus-items ul > li > h3 {color: #fff; font-weight: 700;font-size: 1.4em;margin:20px 0 5px 0}
#focus-box #focus-items ul > li > p {color: #96bed0 !important;}
@media screen and (min-width:768px) {
    .body-content h1 {font-size:3em;}
    #focus-box .heading-title-alt > h1, #focus-box h1 {font-size:2.3em; letter-spacing: 2px}
    #focus-box h3 {font-size: 1.2em;}
    #focus-box #focus-items ul {display: flex; justify-content: center;}
    #focus-box #focus-items ul > li {width: 25%}
    /*#focus-box #focus-items ul > li > img {width: 200px}*/
    #focus-box #focus-items ul > li > h3 {font-size: 1.2em; margin-bottom:15px}
    #focus-box #focus-items ul > li > p {font-size: 0.9em; line-height: 22px}
}
@media screen and (min-width:1024px) {
    /*#focus-box #focus-items ul > li > img {width: 250px}*/
}


/* app box */
#app-box {margin-top:50px}
#app-box h1 {font-size:1.6em; letter-spacing: -0.7px}
#app-box h3 {letter-spacing: -0.5px; color: #96bed0; font-weight: 700;font-size: 1.2em;margin: 10px 0 40px;}
#app-box .heading-title-alt > img {height:80px}
#app-box .heading-title-alt p {line-height: 24px; font-weight:700; color: #96bed0 !important;}
#app-box #app-items ul {list-style:none; padding:20px 20px 20px 40px}
#app-box #app-items ul > li {margin-bottom: 20px}
#app-box #app-items ul > li > img {width: 180px}
#app-box #app-items ul > li > h5 {color: #fff;font-size: 1.3em; margin: 14px;}
#app-box .swiper-container {overflow: visible;}
#app-box .swiper-wrapper > div:first-child{margin-left: 16vw;}
#app-box .swiper-wrapper > div:nth-child(2n+1){top:30px}
#app-box .swiper-slide {text-align: center;font-size: 18px;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: block;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;padding: 23px;box-shadow: 0 2px 6px rgb(0 0 0 / 6%);-webkit-tap-highlight-color: transparent;flex-shrink: 0;box-sizing: border-box;border-radius: 12px;overflow: hidden;background-color: #1d1d1d;}
@media screen and (min-width:768px) {
    #app-box h1 {font-size:2.3em; letter-spacing: 2px}
    #app-box h3 {font-size: 1.2em;}
    #app-box #app-items ul {display: flex; justify-content: center;}
    #app-box #app-items ul > li {position: relative; }
    #app-box #app-items ul > li:nth-child(1) {z-index: 201; top: 10px; left: 30px}
    #app-box #app-items ul > li:nth-child(2) {z-index: 202; top: 40px; left: 10px}
    #app-box #app-items ul > li:nth-child(3) {z-index: 203; top: 0px; left: -10px}
    #app-box #app-items ul > li:nth-child(4) {z-index: 204; top: 30px; left: -30px}
    #app-box #app-items ul > li > img {width: 200px}
    #app-box #app-items ul > li > h5 {color: #9BA0A5; font-weight:700; font-size: 1.1em; margin: 20px;}
}


/* synopsis box */
#synopsis {background-color: #000}
#synopsis-box .synopsis-content p {text-align: center; font-size: 16px; line-height: 1.7em; color: #ddd;}
#synopsis-box .synopsis-character {position: relative;overflow: hidden;width:300px;height: 350px;margin: 0 auto;}
#synopsis-box .synopsis-character > img {position: absolute; width:130%; top:0; left:-10%;}
@media screen and (min-width:1024px) {
    #synopsis-box {background-image: url(../../../default/img/dimetime/4_character_bg.png);background-repeat: no-repeat;background-position: center center;background-size: 100%; padding: 80px 30px;}
    #synopsis-box .synopsis-character {display: none}
    #synopsis-box .synopsis-content {text-align: center; padding: 0 10%}
    #synopsis-box .synopsis-content p {text-align: center}
    #synopsis-box .synopsis-character > img {width:100%; left:0;}
}
@media screen and (min-width:1440px) {
    #synopsis-box {background-image: url(../../../default/img/dimetime/4_character_bg.png);background-repeat: no-repeat;background-position: center center;background-size: 1200px;}
    #synopsis-box .synopsis-content {text-align: center; padding: 0 20%}
}


/* roadmap box */
#roadmap {background-color: #000}
#roadmap-box img {width:100%}
/* reference_1 */
.hssi-course-wrap {width: 100%; box-sizing: border-box; padding-top: 90px; position: relative; z-index: 9;}
.hssi-course-wrap .mt-climb-title {width: 100%; box-sizing: border-box; padding-bottom: 45px; text-align: center;}
.hssi-course-wrap .mt-climb-title h2 {font-size: 22px; color: #fff; font-weight: bold; padding: 10px 20px; border: 1px solid #ddd; border-radius: 30px; display: inline-block; letter-spacing: -1px;}
.hssi-course-wrap .mt-climb-course {width: 100%; box-sizing: border-box; max-width: 1240px; margin: 0 auto;}
.hssi-course-wrap .mt-climb-course .course-list {width: 100%; box-sizing: border-box; padding: 10px 0 10px 10px;}
.hssi-course-wrap .mt-climb-course .course-list::after{display: block; content: ""; clear: both;}
.hssi-course-wrap .mt-climb-course .course-list strong {float: left; width: 85px; font-size: 30px; color: #ffe243; display: block; font-weight: 400;}
.hssi-course-wrap .mt-climb-course .course-list strong span {display: block; font-size: 16px; color: #fff; font-weight: 200;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap {float: left; width: calc(100% - 85px);}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap::after{display: block; clear: both; content: "";}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name {text-align: right; position: relative;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name::before {position: absolute; content: ""; width: 100%; height: 20px; background-color: #fff; bottom: -1px; left: 0;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name::after {position: absolute; content: "";     top: -7px;
    left: -15px; width: 32px; height: 32px; background-size: cover;background-image: url(../../../default/img/dimetime/5_marker_disable.png);}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.fist-crs::after {width: 32px; height: 32px; background-color: transparent;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.last-crs::after {width: 32px; height: 32px; background-color: transparent;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p {color: #fff; padding-bottom: 15px; position: relative; right: -7%; font-size: 16px;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.last-crs p {right: 0;}
.hssi-course-wrap .mt-climb-course .course-list.list-ver01 .mt-list-grap .name {float: left; width: 20%;}
.hssi-course-wrap .mt-climb-course .course-list.list-ver02 .mt-list-grap .name {float: left; width: 25%;}
@media(max-width: 1319px){
    .hssi-course-wrap {width: calc(100% + 60px); margin-left: -30px; padding-left: 30px; padding-right: 30px;}
    .hssi-course-wrap .mt-climb-course {max-width: none; padding: 0 30px;}
}
@media(max-width: 950px){
    .hssi-course-wrap {padding-top: 60px;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p {right: auto;}
}
@media(max-width: 767px){
    .hssi-course-wrap {width: calc(100% + 50px); margin-left: -25px; padding-left: 25px; padding-right: 25px;}
    .hssi-course-wrap .mt-climb-title {padding-bottom: 0;}
    .hssi-course-wrap .mt-climb-course {padding: 0 25px;}
    .hssi-course-wrap .mt-climb-course .course-list {padding-bottom: 60px;}
    .hssi-course-wrap .mt-climb-course .course-list strong {float: none; padding-bottom: 20px; width: 100%;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap {width: 100%; float: none;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p {font-size: 15px;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name:nth-of-type(2n) p {bottom: -65px;}
}
@media(max-width: 550px){
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name {text-align: left; display: block; padding-left: 20px;}
    .hssi-course-wrap .mt-climb-course .course-list.list-ver01 .mt-list-grap .name {width: 100%;}
    .hssi-course-wrap .mt-climb-course .course-list.list-ver02 .mt-list-grap .name {width: 100%;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name:nth-of-type(2n) p {bottom: 0;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name::before {height: 100%; width: 1px; bottom: 0; left: 0;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.fist-crs::after {bottom: auto; top: 0; left: -7px;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.last-crs::after {bottom: 0; right: auto; left: -7px; top: auto;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p {margin-top: 0;}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.last-crs p {padding-bottom: 0;}
}

/* reference_2 */
.hssi-map-wrap .ui-map-area{overflow: hidden;margin-top: 50px;}
.hssi-map-wrap .map-search-box .map-address{padding:30px 40px;}
.hssi-course-wrap .mt-climb-course .course-list strong{color:#fff;font-size:20px;font-weight: 700}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name::before{background:#636365;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p{color: #cccccc;line-height: 1.3em;}
.hssi-course-wrap .mt-climb-course .course-list strong{position:absolute;top:50%;left:0;width:130px;transform: translateY(-50%);}
.hssi-course-wrap .mt-climb-course .course-list strong span{color:#666;}
.hssi-course-wrap .mt-climb-course .course-list{position: relative;padding-left: 130px;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap{display: table;width: 100%;margin-bottom: 20px;}
.hssi-course-wrap .mt-climb-course .course-list.list-ver02 .mt-list-grap .name,
.hssi-course-wrap .mt-climb-course .course-list.list-ver01 .mt-list-grap .name{display: table-cell;float: none;width: auto;}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.fist-crs:after,
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.fist-crs:after{background-size: cover;background-image: url(../../../default/img/dimetime/5_marker_enable.png);}
.hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.last-crs:after{border-color:#007841;}
@media(max-width:1279px){
    .tour_tab.dong {padding:30px;}
    .tour_tab.dong .tab_wrap .tit_wrap {float:none;width:100%;margin:0 0 20px;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li {float:left; width:50%;height:auto;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li a {padding:10px;line-height:52px;vertical-align:top;font-size: 16px;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li:first-child a {border-right:none;border-bottom: 1px solid #d5d5d5;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li a:before {opacity:0; position:absolute;z-index:1;left:-2px; top:-2px; content:''; width:100%; height:100%; border:2px solid #fca834;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li a.ov:before {opacity:1;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li .ico {display:inline-block; width:52px; height:52px;margin:0 10px 0 0;background-size:477px 60px;vertical-align:top;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li .ico.ico1 {background-position:-165px 0;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li .ico.ico2 {background-position:-220px 0;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li em,
    .tour_tab.dong .tab_wrap .tit_wrap ul li .arr {display:none;}
    .tour_tab.dong .tab_wrap .con_wrap {float:none;width:100%;height: 440px;}
    /*.hssi-course-wrap{padding-left: 0;padding-right: 0}*/
    .hssi-course-wrap .mt-climb-course{padding-left: 0;padding-right: 0}
}
@media(max-width:1023px){
    .tour_tab {padding:30px;}
    .tour_tab .tab_wrap .tit_wrap {float:none;width:100%;margin:0 0 20px;}
    .tour_tab .tab_wrap .tit_wrap ul li {float:left; width:50%;height:auto;}
    .tour_tab .tab_wrap .tit_wrap ul li a {padding:10px;line-height:52px;vertical-align:top;font-size: 16px;}
    .tour_tab .tab_wrap .tit_wrap ul li:first-child a {border-right:none;border-bottom: 1px solid #d5d5d5;}
    .tour_tab .tab_wrap .tit_wrap ul li a:before {opacity:0; position:absolute;z-index:1;left:-2px; top:-2px; content:''; width:100%; height:100%; border:2px solid #fca834;}
    .tour_tab .tab_wrap .tit_wrap ul li a.ov:before {opacity:1;}
    .tour_tab .tab_wrap .tit_wrap ul li .ico {display:inline-block; width:52px; height:52px;margin:0 10px 0 0;background-size:477px 60px;vertical-align:top;}
    .tour_tab .tab_wrap .tit_wrap ul li .ico.ico1 {background-position:-165px 0;}
    .tour_tab .tab_wrap .tit_wrap ul li .ico.ico2 {background-position:-220px 0;}
    .tour_tab .tab_wrap .tit_wrap ul li em,
    .tour_tab .tab_wrap .tit_wrap ul li .arr {display:none;}
    .tour_tab .tab_wrap .con_wrap {float:none;width:100%;height: 440px;}
    .info_txt {margin:40px 0;}
    .thm_slide .grap .obj .item .inner img{width:auto;height:100%;}
}
@media(max-width:767px){
    .tour_tab {padding:30px 25px;}
    .tour_tab .tab_wrap .con_wrap {height:320px;}
    .thm_slide .grap .obj{height:430px;}
    .tour_tab.dong {padding:30px 25px;}
    .tour_tab.dong .tab_wrap .con_wrap {height:320px;}
    .hssi-course-wrap .mt-climb-course .course-list{padding-left:0;padding-bottom: 0}
    .hssi-course-wrap .mt-climb-course .course-list strong{position: relative;top:auto;left:auto;transform: none;}
    .hssi-course-wrap .mt-climb-course .course-list.list-ver02 .mt-list-grap .name, .hssi-course-wrap .mt-climb-course .course-list.list-ver01 .mt-list-grap .name{display:block;}
    .photo_wrap .tourTitle b{margin-top:20px;font-size:28px;line-height:1.2}
    .hssi-map-wrap{padding:30px 20px}
    .caption-buttons a{width:calc(50% - 4px);margin-bottom: 10px;}
    .caption-buttons a:nth-child(2n){margin-right: 0}
    .caption-buttons a.long{width:100%;}
}
@media(max-width:580px){
    .tour_tab .tab_wrap .tit_wrap ul li a {padding:10px; line-height:1; font-size:15px; }
    .tour_tab .tab_wrap .tit_wrap ul li .ico {display:block; margin:0 auto 5px;}
    .tour_tab .tab_wrap .con_wrap {height:220px;}
    .tour_tab.dong .tab_wrap .tit_wrap ul li a {padding:10px; line-height:1; font-size:15px; }
    .tour_tab.dong .tab_wrap .tit_wrap ul li .ico {display:block; margin:0 auto 5px;}
    .tour_tab.dong .tab_wrap .con_wrap {height:220px;}

}

/* reference_3 */
.hssi-course-wrap .mt-climb-title h2 {border:1px solid #545454;}
.hssi-course-wrap .mt-climb-title + h2,
.hssi-course-wrap .mt-climb-title + h3 {margin-top: 10px;}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list.list-ver01 .mt-list-grap .name {float: left; width: 20%;}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list.list-ver02 .mt-list-grap .name {float: left; width: 20%;}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name:after {bottom:-5.5px; z-index:1;}
@media(max-width: 767px){
    .ui-white-block .hssi-course-wrap  table {width:995px !important;}
    .hs_course_box .hssi-course-wrap {width: calc(100% + 50px); margin-left: -25px; padding-left: 25px; padding-right: 25px;}
    .hssi-course-wrap .mt-climb-title {padding-bottom: 30px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course {padding: 0 25px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list {padding-bottom:60px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list strong {float: none; padding-bottom: 20px; width: 100%;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap {width: 100%; float: none;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p {font-size: 18px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name:nth-of-type(2n) p {bottom: -65px;}
}
@media(max-width: 550px){
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name {text-align: left; display: block; padding-left: 30px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list.list-ver01 .mt-list-grap .name {width: 100%;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list.list-ver02 .mt-list-grap .name {width: 100%;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name:nth-of-type(2n) p {bottom: 0;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name::before {height: 100%; width: 14px;bottom: 0;left: -6px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.fist-crs::after {bottom: auto; top: -7px; left: -15px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.last-crs::after {bottom: 0; right: auto; left: -7px; top: auto;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p {margin-top: 0;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name.last-crs p {padding-bottom: 0;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list {padding-bottom: 30px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list.mt_50 {margin-top:20px;}
}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap {margin-bottom: 40px;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 {position: relative;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .name {float: right;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 p {top: 55px;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .name.last-crs::before {display: none;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row03 {float: right;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row03 p {top: 55px;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row03 .name {float: left;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row03 {position: relative;}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list.list-ver02 .mt-list-grap .name:nth-of-type(2n) p {bottom: 0;}
@media(max-width: 767px){
    .sub01_0103 .hssi-course-wrap .mt-climb-course .course-list br {display:none;}
}
@media(max-width: 550px){
    .sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap {margin-bottom: 0;}
    .sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02::before {display: none;}
    .sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .name {width: 100%; float: left;}
    .sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 p {top: 0;}
    .sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row03 p {top: 0;}
    .sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .name.last-crs::before {display: block;}
}

/* roadmap_custom */
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list br {display: block}
.sub01_0103 .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap {position: relative}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .start-crs::before {height:70px;background: rgb(0,0,0);background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(119,195,200,1) 75%);}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .fist-crs::before {background: rgb(93,187,199); background: linear-gradient(180deg, rgba(93,187,199,1) 0%, rgba(119,195,200,1) 50%, rgba(93,187,199,1) 100%);}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .ing-crs::before {background: rgb(93,187,199);background: linear-gradient(180deg, rgba(93,187,199,1) 0%, rgba(99,99,101,1) 75%);}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .end-crs::before {background: rgb(99,99,101);background: linear-gradient(180deg, rgba(99,99,101,1) 0%, rgba(99,99,101,1) 70%, rgba(0,0,0,1) 100%);}
.hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .bridge-crs{display: none}
@media screen and (min-width:1024px) {
    .hssi-course-wrap .mt-climb-course .course-list{padding:0 60px}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name {text-align:left}

    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name::before{content: "";color:#fff;font-size:13px;top:15px; bottom:0}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name::after{width:48px; height:48px;top:0; left:30px}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p {right:0; left:50px; top:70px; height: 130px;font-size:15px;color:#909090; padding-right:30px}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .name p strong {position: relative;top: 0;left: 0;width: 100%;transform: unset;margin-bottom:10px}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .name{left:-100px}
    .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .name::before{content: "";}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .bridge-crs{display: table-cell}

    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .start-crs::before {content:"";height:20px;background: rgb(0,0,0);background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(119,195,200,1) 75%);left:-160px}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .fist-crs::before {background: rgb(93,187,199); background: linear-gradient(90deg, rgba(93,187,199,1) 0%, rgba(119,195,200,1) 50%, rgba(93,187,199,1) 100%);}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .ing-crs::before {background: rgb(93,187,199);background: linear-gradient(90deg, rgba(93,187,199,1) 0%, rgba(99,99,101,1) 75%);}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .end-crs::before {content:"";background: rgb(99,99,101);background: linear-gradient(90deg, rgba(99,99,101,1) 0%, rgba(99,99,101,1) 70%, rgba(0,0,0,1) 100%);}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .fist-crs::after {height:48px;width:48px}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap .bridge-crs::after{background: none}

    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row01 .bridge-crs::before {background: rgb(93,187,199);width: 40%}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .fist-crs::before {background: rgb(93,187,199); background: linear-gradient(270deg, rgba(93,187,199,1) 0%, rgba(119,195,200,1) 50%, rgba(93,187,199,1) 100%);}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .ing-crs::before {background: rgb(93,187,199);background: linear-gradient(270deg, rgba(93,187,199,1) 0%, rgba(99,99,101,1) 75%);}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 .bridge-crs::before {content:"";width: 120px;left:50%;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 div:nth-child(1)::before {content:"";background: rgb(93,187,199);left:0;width:90%}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 div:nth-child(5)::before {background: rgb(93,187,199); width:30%; left:82%;margin-left: 2px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row03 .bridge-crs::before {content:"";width: 70%;left:30%;background: linear-gradient(90deg, rgba(93,187,199,1) 0%, rgba(99,99,101,1) 75%);}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row01::before{position: absolute;content: "";width: 20px;height: 200px;background-color: #5dbbc7;top: 35px;right:12%}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02::before{position: absolute;content: "";width: 20px;height: 220px;background-color: #5dbbc7;top: 15px;left:4.5%;margin-left: -1px;}
}
@media screen and (min-width:1200px) {
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 div:nth-child(1)::before {width:84%}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 div:nth-child(5)::before {width: 80px;left: 150px;}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02::before{left:5%}
}
@media screen and (min-width:1440px) {
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 div:nth-child(1)::before {width:83%}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02 div:nth-child(5)::before {width:30%; left:70%}
    .hs_course_box .hssi-course-wrap .mt-climb-course .course-list .mt-list-grap.row02::before{left:5%}
}


/* team box */
#team-backers-box {background-color: #000}
#team-backers-box .heading-title-alt {display:block; text-align: center}
/*#team-backers-box h1 {font-size: 1.6em; letter-spacing: 2px;}*/
#team-backers-box h1 {margin-bottom: 30px;}
#team-box {margin-bottom: 40px}
#team-box .team-list {max-width: 300px; margin: 30px auto;}
#team-box ul {list-style: none; width: 100%; padding: 0 30px;}
#team-box ul > li { margin-bottom: 20px; text-align:center; }
#team-box ul > li > img { width: 80%}
#team-box ul > li > div { padding: 15px; border-top:#e6e6e6; }
#team-box ul > li > div h5 { font-size: 1.2em; font-weight:800; letter-spacing:1px; color: #fff; margin-bottom:10px}
#team-box ul > li > div span { font-size: 1.2em;color: #6ec0c7;font-weight: bold;}
@media screen and (min-width:1024px) {
    /*#team-backers-box .heading-title-alt {text-align: left;}*/
    #team-box .team-list {width:100%; max-width: none; padding: 0;}
    #team-box ul {display: flex; justify-content: center; padding: 0;}
    #team-box ul > li {padding:0 1px; width:20% }
    #team-box ul > li > div h5 {height: 50px;}
    #team-box ul > li > div h5.line1 {position: relative; top: 10px;}
}
@media screen and (min-width:1440px) {
    /*#team-backers-box h1 {margin-left: 0}*/
}


/* partners box*/
#partner-box h1 {margin-bottom: 30px;}
#partner-box .partners-list {list-style: none; display: none;justify-content: center; padding:0}
#partner-box .partners-list .partners-item {margin:0 20px}
#partner-box .partners-list .partners-item img{width:200px}
#partner-box #portfolio-carousel-alt {display: block !important;}
#partner-box #portfolio-carousel-alt .portfolio-item img{border-radius:10px;}
@media screen and (min-width:768px) {
    #partner-box .partners-list {display: flex;}
    #partner-box #portfolio-carousel-alt {display: none !important;}
}

/* social box */
#social-box {background-color: #0E1118; padding: 30px 0}
#social-box ul {list-style: none; width: 100%; padding: 0; display: flex; justify-content: center;}
#social-box ul > li {padding:0 20px}
#social-box ul > li img {height: 25px; width: auto}
#social-box ul > li img:hover {filter: brightness(0) invert(1);}
@media screen and (min-width:768px) {
    #social-box ul > li {padding:0 30px}
    #social-box ul > li img {height: 35px}
}


/* footer */
#footer.dark .primary-footer {text-align: center;padding: 20px 0;}
#footer.dark .primary-footer .col-md-12 > div {padding: 0;}
#footer.dark .logo_bottom {margin-top:30px}
#footer.dark .logo_bottom img{height: 25px;}
#footer.dark .logo_bottom p{margin:15px 0 20px}
#footer.dark ul {list-style: none;text-align: center;padding-left: 0; margin-bottom: 30px}
#footer.dark ul li {display: inline-block;font-size: 16px;}
#footer.dark ul.bottom_menu li a {display: inline-block;padding: 0 7px;color: #949494;font-weight: 700;}
#footer.dark ul.bottom_menu li a:hover {color: #fff;}
#footer.dark ul.bottom_link li img {height: 60px; margin:0 10px}
@media screen and (min-width:1024px) {
    #footer.dark .primary-footer {height:160px}
    #footer.dark .primary-footer > div > div > div {display:flex}
    #footer.dark .logo_bottom {text-align:left;}
    #footer.dark ul {float:right}
    #footer.dark ul.bottom_menu {padding-top:73px}
    #footer.dark ul.bottom_link {padding-top:30px}
}
#footer.dark .secondary-footer .footer-logo > img { width: 80px; }
#footer.dark .secondary-footer p {font-size:17px; font-family: "Manrope"; font-weight:400}
#footer.dark .secondary-footer p span {color:#fff; font-weight: 700}
#footer.dark .secondary-footer p img {height: 22px;vertical-align: inherit;margin: 0 15px 15px 5px; top: 1px;position: relative;}
@media screen and (min-width:1024px) {
    #footer.dark .secondary-footer p img {height: 18px; margin: 0 15px 0 5px;}
}
