/*
 * 2021.04.14 Nuga Jang
 */
@charset "UTF-8";
* {margin:0;padding:0;box-sizing:border-box; }
html, body { width:100%; height:100%; font-family:'S-CoreDream', sans-serif; }
body { background:#f5f5f5; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }
body::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }
footer { text-align:center; padding-bottom:20px; color:#bbb; font-size:0.8em;}
a { text-decoration: none;}

.title_wrap{ font-family: 'Poppins', sans-serif; text-align:center; padding:70px 0; background:#081E34}
.title_wrap .title { width:fit-content; color:#fff; margin: auto; padding: 0px 8px; font-size: 2.3em; line-height: 1.1em; letter-spacing: -1.5px; text-transform: uppercase; box-shadow: inset 0 -21px 0 #f8f8f845; }
.title_wrap .subtitle { color: #f8f8f845; font-size: 1.5em; margin-top:5px;}
.title_wrap .site { color: #fff; position:relative; top:15px; font-family:'S-CoreDream', sans-serif; }
.content { width:100%; margin:0 auto; background:#f5f5f5; padding-top:50px; padding-bottom:50px; text-align:center;}
.content .co-progress { font-size: 1.2em; margin-bottom:60px; }
.content .co-progress #progressNum { font-weight:600; }
.content .co-progress #progressBar {width: 50%;height: 10px;margin: 10px auto 30px; background: #e6e6e6;}
.content .co-progress #progressBar .ui-widget-header {border:none;background: #c5c5c5;}
.content .co-progress #progressBar .ui-progressbar-value {margin:0}
.content .co-progress p {font-weight: 600; font-size: 0.85em;}
.content .co-progress p a {color: #777; margin-right:18px;}
.content .co-progress p a:last-child { margin-right:0;}
.content .co-progress p a:hover, .content .co-progress p a.active { color: #414141; }
.content .co-progress p a i {margin-right:3px;}
.content > ul { text-align:center; margin-bottom:50px; list-style: none;}
.content > ul > li{ width:100%; }
.content ul li .co-title { font-size: 1.3em; margin-bottom: 15px; }
.content ul li ul.co-list{ text-align:center; margin-bottom:50px; list-style: none;}
.content ul li ul.co-list li{ display:block; margin-bottom:15px; padding:0 40px;}
.content ul li ul.co-list li a{ text-align:center; text-decoration:none; font-size:1.1em; color:#4d4b4b; display:block; padding:30px 0; background:#fff; letter-spacing:-0.05em; border-radius: 1.2em; box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.037), 0 8.7px 6.9px rgba(0, 0, 0, 0.053), 0 17.7px 14.2px rgba(0, 0, 0, 0.067), 0 36.5px 29.2px rgba(0, 0, 0, 0.083), 0 100px 80px rgba(0, 0, 0, 0.12);}
.content ul li ul.co-list li a:hover{ background:#4b4b4b; color:#fff; }
.content ul li ul.co-list li a i {margin-left:10px;}
.content > a { color: #828282; font-size:1.2em;}
.content > a:hover { color: #414141; }
@media (min-width:375px) {
	.content { width:350px; }
}
@media (min-width:768px) {
	.title_wrap .title { font-size: 3em; }
	.title_wrap .subtitle { font-size: 2em; }
	.content { width:750px; }
	.content .co-progress { margin-bottom: 60px;}
	.content > ul > li{ display:inline-flex;}
	.content ul li .co-title{ width:40%; margin-top: 30px;}
	.content ul li ul.co-list{ width:60%; text-align:left; margin-bottom:20px; }
	.content ul li ul.co-list li{ display:inline-block; width:45%; margin:0 1%; padding:0;}
	.content ul li ul.co-list li a{ height: 80px; overflow: hidden;}
	.content ul li ul.co-list li:nth-child(2n+1) { margin-bottom:30px;}
	.content ul li.no-title{ display:inline-block; }
	.content ul li.no-title ul{ width:100%; text-align: center;}
	footer { font-size:1em; }
}
@media (min-width:1024px) {
	.content { width: 1000px;}
	.content ul li .co-title{ width:20%; }
	.content ul li ul.co-list{ width:80%; }
	.content ul li ul.co-list li{ width:22%; }
	.content ul li ul.co-list li:nth-child(4n+0) { margin-bottom:30px;}
	.content ul li ul.co-list.item-3 li{ width:30%; }
	.content ul li ul.co-list.item-3 li:nth-child(3n+0) { margin-bottom:30px;}
}