/*
 * 2021.04.14 Nuga Jang
 */
 @charset "UTF-8";
 
/* 100 - Thin */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
/* 200 - ExtraLight */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
/* 300 - Light */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* 400 - Regular */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 500 - Medium */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
/* 600 - Bold */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
/* 700 - ExtraBold */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/* 800 - Heavy */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/* 900 - Black */
@font-face {
    font-family: 'S-CoreDream';
    src: url('../fonts/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}