/*
 * 2022.03.02 Nuga Jang
 */
@charset "utf-8";

/* 게시판 레이아웃 */
#board_layout.content {margin:0 auto; display:grid}
.siiru-boardWrap {display:inline-table}
.siiru-btn-primary {background-color: #2f97f2 !important}
@media all and (min-width:1200px) {
    .siiru-boardWrap {max-width: 1200px; margin: 0 auto}
}

/* 게시판 검색 폼, 페이지네이션, 버튼 */
.siiruBoard-search {padding:0; margin: 20px; float:none; font-size: 14px; background:none; border: 2px solid #ddd;}
.siiruBoard-search .sch_sel{position: relative;float:left;width:26%;padding:0 0 0 10px;}
.siiruBoard-search .sch_sel:after{position:absolute;top:10px;right:0;display: block;clear: both;content:'';width:1px;height:18px;background: #ddd}
.siiruBoard-search select{width: 100%;height:40px;color:#999;border:0;background: #fff}
.siiruBoard-search input[type="text"]{float:left;width:50%;height:40px;margin:0 0 0 8px;border:0;padding:0;background-color:transparent;color:#999;}
.siiruBoard-search input[type="button"], .siiruBoard-search input[type="submit"], .siiruBoard-search button {height:37px;float:right;background:none;border:0;width:40px;font-size:18px;color: #888}
.siiruBoard-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #999; }
.siiruBoard-search ::-moz-placeholder { /* Firefox 19+ */ color: #999; }
.siiruBoard-search :-ms-input-placeholder { /* IE 10+ */ color: #999; }
.siiruBoard-search :-moz-placeholder { /* Firefox 18- */ color: #999; }
#boardPage {float:none; margin-bottom: 20px;}
@media all and (min-width:768px) {
    .siiruBoard-search {margin:15px 0 0; float:left;}
    .siiruBoard-search .sch_sel{width:110px;}
    .siiruBoard-search input[type="text"]{width:165px;}
    #boardPage {margin:15px 0 0; float:right;}
    .board-btn {margin-top:15px}
}

/*** 게시판 스킨 스타일 ***/
/* 기본 게시판 list */
.siiruBoard-list table {border-top:none;}
.siiruBoard-list table thead th {padding: 16px 0; color:#fff;background: #a2a1a1; font-weight: 500}
.siiruBoard-list table tbody th, .siiruBoard-list table tbody td {padding: 15px 3px 11px}
.siiruBoard-list table tbody td {color:#6e6e6e; font-size:14.5px}
.siiruBoard-list table tbody a {font-weight:normal;}
.siiruBoard-list table tbody .notice {display: inline-block; width: 35px; padding: 3px 0 1px; font-size: 13.5px; font-weight:normal; border-radius: 5px}
.siiruBoard-list table tbody .m-notice {width:35px; font-size:13px; border-radius: 5px}
.siiruBoard-list table tbody .subject {width:99%;}
.siiruBoard-list table tbody .subject a {display: contents; width:100%;}
.siiruBoard-list table .date {display:table-cell !important; width:32%;}
.siiruBoard-list table .writer {display:none !important;}
@media all and (min-width:768px) {
    .siiruBoard-list table tbody th, .siiruBoard-list table tbody td {padding: 17px 0}
    .siiruBoard-list table tbody a {font-size:16px}
    .siiruBoard-list table tbody .m-notice {display:none;}
    .siiruBoard-list table tbody .subject {width:95%;}
    .siiruBoard-list table .date {width:12%;}
    .siiruBoard-list table .writer {display: table-cell !important;}
}
@media all and (min-width:1024px){
    .siiruBoard-list table tbody .notice {width: 50px;}
}

/* 기본 게시판 view */
.siiruBoard-view {border:0}
.siiruBoard-view h4{background: none; margin-top:20px; padding:0; font-size: 1.5rem; font-weight: 500;}
.siiruBoardInfo {margin-bottom:30px}
.siiruBoardInfo .boardInfo-view {background: #eee; margin: 15px 0 10px; padding: 15px 15px 10px;}
.siiruBoardInfo .boardInfo-view span {display: block; margin: 0 0 10px 0; border:0 !important; padding:0 !important;}
.siiruBoardInfo .boardInfo-view span strong {display: inline-block; width: 65px; margin-right: 5px;}
.siiruBoardInfo dl {border-bottom:1px solid #dde2e8; border-top:0; margin:0}
.siiruBoardBody  {margin: 0; border: 0;}
.siiruBoardBody .boardContents {padding: 10px 5px}
.siiruBoardList {margin: 40px 0 20px}
.siiruBoardList li {line-height: 1.6em;}
.siiruBoardList li small {display: none;}
.siiruBoardBtnInfo {border:0; margin: 20px 0 0}
.siiruBoardBtnInfo .siiru-fl {display: none}
@media all and (min-width:768px) {
    .siiruBoard-view h4 {margin-top: 30px; font-size: 1.8rem;}
    .siiruBoardInfo dl {margin:0 15px}
    .siiruBoardInfo .boardInfo-view {font-size: 1.2rem; padding: 20px 20px 5px;}
    .siiruBoardInfo .boardInfo-view span {margin-bottom: 15px}
    .siiruBoardBody .boardContents {padding: 25px 15px}
    .siiruBoardList {font-size: 1.2rem;}
    .siiruBoardList li small {display: block;}
    .siiruBoardBtnInfo .siiru-fl {display: block;}
}
@media all and (min-width:1024px) {
    .siiruBoardInfo {margin-bottom:60px}
    .siiruBoardInfo .boardInfo-view {padding: 30px 30px 15px;}
    .siiruBoardInfo .boardInfo-view span {display: inline-block; margin-right: 25px;}
    .siiruBoardInfo .boardInfo-view span strong {width:unset; margin-right:15px}
    .siiruBoardList {margin-top:30px}
}
@media all and (min-width:1200px) {
    .siiruBoardList {margin-top:0}
}

/* 기본 게시판 insert */
.siiruBoard-write dl dt label {font-weight: 500}
.siiruBoard-write dl dd label {line-height: 23px}
.siiruBoard-write dl dd input[type="text"] {height: 33px; border-radius:3px}
.siiruBoard-write dl#ndtFocus > dd > div {display: none;}

/* 썸네일 게시판 list */
.siiruBoard-gallery {border-bottom: 0; padding: 15px;}
.siiruBoard-galleryBox {float:left;width:100%;border:1px solid #e7eaec;background-color:#fff; margin:0 0 20px;border-radius: 0.8rem}
.siiruBoard-galleryBox:nth-child(3n){margin-right:0}
.siiruBoard-galleryBox .photoBox {height: auto; border-radius: 0.6rem 0.6rem 0 0;}
.siiruBoard-galleryBox dl dt {padding-top: 5px; margin: 10px 15px 0;}
.siiruBoard-galleryBox dl dt a {display: block}
.siiruBoard-galleryBox dl dt span.ctgry {display: inline-block; background-color:#000; color:#fff; font-size:12px; font-weight:500; border-radius:5px; padding:5px}
.siiruBoard-galleryBox dl dt span.ctgry.event_new {background-color:#3A4767}
.siiruBoard-galleryBox dl dt span.ctgry.event_plm {background-color:#485C21}
.siiruBoard-galleryBox dl dt span.ctgry.event_est {background-color:#71323C}
.siiruBoard-galleryBox dl dt span.ctgry.event_chd {background-color:#197c89}
.siiruBoard-galleryBox dl dt span.ctgry.event_prt {background-color:#B3517E}
.siiruBoard-galleryBox dl dt span.ctgry.event_50th {background-color:#3A4767}
.siiruBoard-galleryBox dl dt span.ctgry.event_thg {background-color:#594C42}
.siiruBoard-galleryBox dl dt span.ctgry.event_ref {background-color:#71323C}
.siiruBoard-galleryBox dl dt span.ctgry.event_chr {background-color:#21471C}
.siiruBoard-galleryBox dl dt span.title {font-weight:500; font-size:1.3rem; padding-top: 10px; padding-bottom: 15px;display: block; width: 97%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap}
.siiruBoard-galleryBox dl dd { display: inline-flex; margin: 0 15px 10px; padding: 0 0 10px}
.siiruBoard-galleryBox dl dd span {font-weight: 500;}
.imageView img {padding:0;border:0;border-radius:0;max-width: 100%; width:auto}
@media all and (min-width:768px) {
    .siiruBoard-galleryBox {width: 32%;margin:0 2% 20px 0;}
}
@media all and (min-width:1024px){
    .siiruBoard-galleryBox dl dt span.title {font-size: 1.5rem}
    .siiruBoard-galleryBox dl dd {font-size: 1rem}
}

/* 썸네일 게시판 view */
.siiruBoardBody .videoWrap {position: relative; height:0; padding-bottom: 56.25%;}

/* 주보 게시판 list */
.weekly-board thead tr th.type {width:30%}
.weekly-board tbody tr th small {margin-left:8px}
@media all and (min-width:768px) {
    .weekly-board thead tr th.type {width:15%}
}
@media all and (min-width:1024px){
    .weekly-board thead tr th.type {width:12%}
}
