@charset "utf-8";

.content h4{ font-size:18px; font-weight:500; line-height: 1.3; color:#111; }
.content h4:before{ display:inline-block; content:""; width:16px; height:16px; background:url(../images/sub/bullet_h4.gif) center no-repeat; background-size:cover; margin-right:10px; }
.content h5{ font-size:16px; font-weight:500; color:#0080cc; line-height: 1.3;}
.content h6{ font-size:16px; font-weight:500; color:#111; line-height: 1.3;}
.content h6:before{ display:inline-block; vertical-align: 3px; margin-right:8px; background:#707070; content:""; width:5px; height:5px; transform:rotate(45deg) }
.content p{ font-size:14px; color:#595959; line-height:160%; word-break: keep-all;}
@media all and (min-width:768px){
	.content h4{ font-size:22px; }
	.content h4:before{ width:18px; height:18px; }
	.content h5{ font-size:20px; }
	.content h6{ font-size:20px; }
	.content p{ font-size:16px; }
}

.list_basic{ margin:10px 0;}
.list_basic li{ line-height: 1.5; font-size:12px;}
.list_basic.lt01 li{ position:relative; padding-left:10px; }
.list_basic.lt01 li:before{ display:block; width:6px; height:2px; background:#b4b4b4; content:""; position:absolute; left:0; top:8px;}
@media all and (min-width:768px){
.list_basic li{ font-size:16px; }
.list_basic.lt01 li:before{ top:12px; }
}

.btn_con{ display:inline-block; height:50px; border:#6d6d6d solid 1px; padding:16px 15px 13px; color:#404040; border-radius: 3px; vertical-align: middle }
.btn_blue{ border:#0080cc solid 1px; color:#0080cc; }
.btn_con i{ margin-left:15px; }
.btn_con:hover,.btn_con.btn_over{ background:#0080cc; color:#fff; border-color:#0080cc; transition:0.3s }
.btn_set{ padding:15px 0;}

.box_notice{ border:#e4e4e4 solid 1px; padding:90px 15px 15px 15px; background:url(../images/sub/icon_notice.gif) center 15px no-repeat; }
.box_default{ position:relative; padding:6px; background:url(../images/sub/box_border.gif); }
.box_default .inner{ width:100%; height:100%; background:#fff; padding:20px; }
@media all and (min-width:768px){
.box_notice{ padding:40px 40px 40px 150px; background:url(../images/sub/icon_notice.gif) 60px 40px no-repeat; }
.box_default .inner{ padding:40px; }
}


/*기본테이블*/
.basic_table { width:100%; max-width:100%; border-collapse:collapse; border-top:#0080cc solid 2px; word-break: keep-all; line-height: 1.2}
.basic_table thead tr th,.basic_table thead tr td {padding:10px 5px; border:#eee solid 1px; }
.basic_table tbody tr th,.basic_table tbody tr td {padding:10px 5px; border:#eee solid 1px; }
.basic_table tr th:first-child,.basic_table tr td:first-child{ border-left:0; }
.basic_table tr th:last-child,.basic_table tr td:last-child{ border-right:0; }
.basic_table th { font-size:14px; color:#454545; background-color:#fafafa; vertical-align:middle;   }
.basic_table td { font-size:14px; color:#454545; text-align:left;  vertical-align:middle; word-break:keep-all}
.basic_table td a{ text-decoration:none; color:#454545}
.basic_table td.red{ color:#F00}
.basic_table .no_border { border-right-style: none; }
.basic_table .td_center { text-align:center }
.basic_table .td_right { text-align:right }
.basic_table .td_left { text-align:left }
.border_none{ border-right:none;}
@media all and (min-width:1024px){
.basic_table thead tr th,.basic_table thead tr td { padding:20px 30px; border:#eee solid 1px; font-size:16px; }
.basic_table tbody tr th,.basic_table tbody tr td {padding:20px 30px; border:#eee solid 1px;  font-size:16px;}

}
.basic_table.table_resp th{ text-align: left; padding:0 10px; }
.basic_table.table_resp th,.basic_table.table_resp td{ display:block; border-left:0; border-right:0;  padding:10px;}
@media all and (min-width:768px){
	.basic_table.table_resp th{ text-align: center; padding:0 10px; }
	.basic_table.table_resp th,.basic_table.table_resp td{ display:table-cell; border-left:#eee solid 1px; border-right:#eee solid 1px;  padding:20px;}
}

/*paging*/
.paging{ clear:both; text-align:center; padding:25px 0 0 0}
.paging ul{ font-size:0;}
.paging ul li{ display:inline-block; vertical-align:top; margin:2px}
.paging ul li a{ display:block; width:29px; height:34px; border:#e2e2e2 solid 1px; line-height:32px; font-size:12px; font-weight:400}
.paging ul li a.active{ background:#444; border:#006 solid 1px; color:#fff;}
.paging ul li a.first{ background:url(../images/sub/arrow_first.jpg) center no-repeat; text-indent:-9999px}
.paging ul li a.prev{ background:url(../images/sub/arrow_prev.jpg) center no-repeat; text-indent:-9999px}
.paging ul li a.next{ background:url(../images/sub/arrow_next.jpg) center no-repeat; text-indent:-9999px}
.paging ul li a.last{ background:url(../images/sub/arrow_last.jpg) center no-repeat; text-indent:-9999px}


/*반응형테이블*/
.responsive{ min-width:600px; }
.scroltable-wrapper { position: relative; }
.scroltable-container { overflow-x:auto}
.scroltable-nav { display: none;  position: absolute;  width: 60px;  height: 100%;  cursor: pointer;}
.scroltable-nav.scroltable-nav-left { left: 0; background: url(../images/sub/arrow-left.png) no-repeat left 50%, linear-gradient(to left, rgba(255,255,255,0), #fff);}
.scroltable-nav.scroltable-nav-right { right: 0; background: url(../images/sub/arrow-right.png) no-repeat right  50%, linear-gradient(to right, rgba(255,255,255,0), #fff);}

.agree_box{ padding:15px;   border-radius: 15px; background:#fafafa;}
.agree{ padding:25px 15px;  background:#f1f1f1;  margin:15px 0; text-align:center; word-break:keep-all; }
.agree_table{ width:100%; border:#999 solid 1px; border-collapse:collapse; }
.agree_table th,.agree_table td{ background:#f1f1f1; border:#dedede solid 1px; padding:5px}

@media all and (min-width:768px){
.agree_box{ padding:40px; }
}

.form_request .row{ padding:3px 0;}
.form_request .btn_find{ font-family: 'Noto Sans Korean'; background:#0080cc; color:#fff; height:40px; padding:0 10px; border:0; vertical-align: middle; border-radius: 3px;}

/* 환영합니다 */
#introduction { padding: 0;}
#welcome {padding:50px 10px; text-align: center;}
#welcome .welcome_logo img {width:100px;}
#welcome .welcome_intro h3 {padding:30px 0 15px; font-family:'Playfair Display', serif; font-size:18px;color:#a9aaab; font-weight:600; }
#welcome .welcome_intro h2 {font-size: 21px; letter-spacing: -0.5px;}
#welcome .welcome_intro hr {width:170px; border-color:#0066B3; margin-top: 30px; margin-bottom: 30px;}
#welcome .welcome_intro p a{font-weight:500;}
#welcome .welcome_intro p > a:nth-child(3) {color:#0066B3}
#welcome .welcome_intro p > a:nth-child(4) {color:#A5D546}
@media all and ( min-width:375px){
	#welcome {padding:50px 30px;}
	#welcome .welcome_logo img {width:120px;}
	#welcome .welcome_intro h3 {font-size:20px;}
	#welcome .welcome_intro h2 {font-size:23px;}
	#welcome .welcome_intro p {font-size:15px;}
}
@media all and ( min-width:768px){
	#welcome {display:flex; padding-top:30px;}
	#welcome .welcome_logo {float:left; width:35%;}
	#welcome .welcome_logo img { width:140px; position:relative; top:20%; left: 10%;}
	#welcome .welcome_intro {width:65%; text-align: left; padding-left:20px;}
	#welcome .welcome_intro h3 {text-align: left; }
	#welcome .welcome_intro hr {margin-left:0;}
}
@media all and ( min-width:1024px){
	#welcome {width:1024px; margin: 0 auto;}
	#welcome .welcome_logo img { width:160px; left:15%;}
	#welcome .welcome_intro h3 {font-size:24px}
	#welcome .welcome_intro h2 {font-size:27px;}
	#welcome .welcome_intro p {font-size:18px;}
}

/* 비전과 목표 */
#vision {padding:50px 10px 30px; background-color: #f7f7f7; text-align: center;}
#vision .content_top {padding: 0 0 30px;}
#vision .content_top h3 { font-size:2rem; }
#vision .slogan_area { margin:0 auto 30px; max-width:400px; }
#vision .slogan_area ul > li {float:left; width:33.33%; text-align:center;}
#vision .slogan_area ul > li > img { display:block; width:60%; margin:0 auto;}
#vision .slogan_area ul > li > span { display: block; width:90%;margin:15px auto; padding:8px 3px 6px; font-size:15px; border-radius:5px; background:#62AEF8; color:#fff; font-weight:500; letter-spacing:-0.04em;}
#vision .slogan_area ul > li:nth-child(2) > span { background-color: #e6bf6c;}
#vision .slogan_area ul > li:nth-child(3) > span { background-color: #b3cc75;}
#vision p b {font-size: 1.08em;}
@media all and ( min-width:375px){
	#vision .slogan_area ul > li > span { font-size:17.5px;}
	#vision p { font-size:15px;}
}
@media all and ( min-width:768px){
	#vision { padding: 50px 10px;}
	#vision .slogan_area ul > li > span { font-size:20px;}
}
@media all and ( min-width:1024px){
	#vision { padding: 70px 10px 50px;}
	#vision .slogan_area { margin:0 auto 30px; max-width:600px; }
	#vision .slogan_area ul > li > img { width:100px;}
	#vision .slogan_area ul > li > span { width:80%; font-size:24px; padding: 10px 3px 8px;}
	#vision p { font-size:18px;}
}
@media all and ( min-width:1200px){
	#vision { padding: 90px 10px 50px;}
	#vision .content_top h3 { padding: 0 0 25px;}
}

/* 교회 표어 */
#vision_year { padding:30px 0 50px; background-color: #f7f7f7; text-align: center;}
#vision_year h3 { display:block; width:220px; padding:9px 0 7px; font-size:18px; margin: 0 auto 30px; border:2px solid #62AEF8; font-weight:500; border-radius:30px; letter-spacing:-0.04em; }
#vision_year .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: block; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;
	justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; padding: 12px; box-shadow: 0 2px 6px rgb(0 0 0 / 6%); -webkit-tap-highlight-color: transparent; flex-shrink: 0; box-sizing: border-box; border-radius: 12px; overflow: hidden; background-color: #fff; }
#vision_year .swiper-slide > div { display:inline-table; height:130px; text-align:left;}
#vision_year .swiper-slide span:before{ display:inline-block; content:""; position:relative; top:2px; width:16px; height:16px; background:url(../images/sub/bullet_h4.gif) center no-repeat; background-size:cover; margin-right:10px; }
#vision_year .swiper-slide span { display: inline-block; font-size:15px; font-weight:500; margin:5px 5px 15px; color:#757575;}
#vision_year .swiper-slide img { display: block; width: 100%; object-fit: cover; margin:0 auto; }
#vision_year .swiper-wrapper > div:first-child { margin-left: 10vw; }
#vision_year .swiper-container { width: 100%; height: 100%; }
@media all and ( min-width:375px){
	#vision_year .swiper-slide img { max-width:400px;}
}
@media all and ( min-width:768px){
	#vision_year .swiper-slide > div {margin: 20px 0;}
	#vision_year h3 { font-size:24px; width:320px; padding: 15px 0 13px;}
}
@media all and ( min-width:1024px){
	#vision_year .swiper-wrapper > div:first-child { margin-left: calc( 50% - 250px ) }
}


/* 교회 연혁 */
#history { padding:30px 15px; margin:0 auto;}
#history .tab_list li{float:left;width:33.33%;padding:13px 0;font-size: 17px;font-weight:400;text-align: center;letter-spacing: -0.04em;background: #c7c4c2;color:#756d66;cursor: pointer;}
#history .tab_list li.on{background: #756d66;color:#fff;}
#history .tab_item{display:none;}
#history .tab_item.on{display:block;}
#history .tab_his .tab_item{position: relative;margin:50px 0 0;padding:0}
#history .tab_his .date_item:before{position: absolute;top:0;left:27.5px;display: block;clear: both;content: '';width:1px;background: #c7c4c2;height:100%;}
#history .tab_his .date_item:last-child:before{display: none;}
#history .tab_his .date_item{position: relative;padding:0 0 40px 0;}
#history .tab_his .date_his{float:left;width:55px;}
#history .tab_his .date_item:nth-child(2n-1) .date_his>div{background:#e6bf6c}
#history .tab_his .date_his>div{position: relative;width:100%;height:55px;border-radius: 50%;background:#efd8a8;text-align: center;color:#3a2c2d;font-size: 10px;line-height: 10px;}
#history .tab_his .date_his span{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);font-weight: 600;letter-spacing: -0.05em;color:#6d5642;font-size: 1.4em;}
#history .tab_his .tab_item .date_txt{position: relative;float:left;width:80%;min-height: 55px;padding:0 0 0 5%;}
#history .tab_his .tab_item .date_txt_h{min-height:240px;}
#history .tab_his .tab_item .data_txt_h2{min-height: 150px;}
#history .tab_his .tab_item .data_txt_h3{min-height: 100px;}
#history .tab_his .tab_item .date_txt_v2>ul{position: absolute;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);margin:0;}
#history .tab_his .tab_item .date_txt>ul{margin-bottom:20px;}
#history .tab_his .tab_item .date_txt>ul>li{margin:0 0 10px;font-size: 14px;line-height: 1.5;font-weight: 400; letter-spacing: -0.5px;}
#history .tab_his .tab_item .date_txt>ul>li span.date_month {display:block; color:#bb4040; font-weight:500;}
#history .tab_his .tab_item .date_txt>ul>li span.date_txt_add {display:block; width:fit-content; line-height:1.5em; font-weight:300; font-size:0.97em; padding:12px 20px; border-radius: 8px;  margin:10px 0; background: #f1f1f1}
@media all and ( min-width:375px){
	#history {max-width:400px;}
}
@media all and ( min-width:768px){
	#history {max-width:800px;}
	#history .tab_his .tab_item{padding:0}
	#history .tab_his .date_item:before{left:50px;}
	#history .tab_his .date_his{width:100px;}
	#history .tab_his .date_his>div{height:100px;font-size: 18px;}
	#history .tab_his .tab_item .date_txt{width:85%;}
}
@media all and ( min-width:1024px){
	#history {max-width:1200px;}
	#history .tab_his .tab_item .date_txt_h{min-height: 170px;}
	#history .tab_his .date_item:before{left:55px;width:2px;}
	#history .tab_his .date_his{width:110px;}
	#history .tab_his .date_his>div{height:110px;font-size: 20px;}
	#history .tab_his .tab_item .date_txt{width:87.5%;}
	#history .tab_his .tab_item .date_txt_v2>ul{margin:-10px 0 0;}
	#history .tab_his .tab_item .date_txt>ul>li{margin:10px 0 0;font-size: 16.5px;}
}

/* 설교영상 */
#bo_v_info {padding:25px 40px;margin:30px 0 0;color:#625d5e;font-size: 20px;font-weight: 500;}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info .bo_v_user{line-height: 35px}
.bo_v_user {margin-bottom:0px; text-align:center;}
.bo_v_user span{display: inline-block;margin:0 30px 0 0;}
.bo_v_user strong {display:inline-block;margin:0 10px 0 0;font-weight:500;color:#a2a1a1}

/* 사이트맵 */
.sitemap > ul{ position:relative; overflow:hidden}
.sitemap > ul > li{ float:left; width:100%; margin-right:0%; margin-bottom:2%; border-top:#909090 solid 2px;}
.sitemap > ul > li:nth-child(even){ margin-right:0;margin-bottom:0}
.sitemap > ul > li > span{ display:block; float:left; width:50%; color:#272727; font-size:27px; font-weight:500; padding:18px 0 20px 10px}
.sitemap > ul > li > span.new_win{ width:60%; background:url(../img/new_win.jpg) 80% 50%  no-repeat}
.sitemap > ul > li > ul{ overflow:hidden}
.sitemap > ul > li > ul > li {  border-bottom:#e0e0e0 solid 1px}
.sitemap > ul > li > ul > li:last-child {  border-bottom:0}
.sitemap > ul > li > ul > li > a{ display:block; padding:13px;}
.sitemap > ul > li > ul > li > a:hover{  color:#e1e1e1}
.sitemap > ul > li > ul > li > ul { padding-top:6px; padding-left:20px;  padding-bottom:16px;  background:#f9f9f9; border-top:#e0e0e0 solid 1px;}
.sitemap > ul > li > ul > li > ul > li a{ display:block; padding-bottom:6px}
@media all and (min-width:640px){
	.sitemap > ul > li{ float:left; width:47%; margin-right:6%; margin-bottom:2%; border-top:#909090 solid 2px;}
	.sitemap > ul > li > span{ display:block; float:left; width:50%; color:#272727; font-size:27px; font-weight:500; padding:28px 0 20px 20px}
	.sitemap > ul > li > span.new_win{width:50%; background:url(../img/new_win.jpg) 80% 25px  no-repeat}
	.sitemap > ul > li > ul > li a{ display:block; padding:10px;}
	.sitemap > ul > li > ul > li > ul > li a{ font-size:12px}
}

/* 개인정보처리방침 & 이용약관 & 이메일무단수집거부 */
.co_wrap{max-width: 1010px;padding:0 35px 10px 35px;margin:0 auto;border:2px solid #d9d9d9}
.co_wrap .co_title{margin:50px 0 30px 0;font-size: 22px;color:#3a2c2d;font-weight: 500;letter-spacing: -0.04em;}
.co_wrap .co_title:first-child{margin:40px 0 30px;}
.co_wrap p{margin:0 0 30px 0;color:#3a2c2d;font-size: 14px;letter-spacing: -0.04em;line-height: 25px;word-break:keep-all;}
.co_wrap p span{display: block;margin:0 0 0 20px}
.mail_wrap p{margin:30px 0;text-align: center;color:#646363;font-size: 20px;line-height: 35px;letter-spacing: -0.025em;}
@media screen and (max-width: 767px){
  .co_wrap{padding:0 15px 10px 15px}
  .co_wrap .co_title:first-child{margin:30px 0 20px}
  .co_wrap .co_title{margin:40px 0 20px;font-size: 19px;line-height: 1.3}
  .mail_wrap img{width:45%;max-width: 200px;}
  .mail_wrap p{font-size: 14px;line-height: 1.6;word-break: keep-all;}
  .mail_wrap p br{display: none}
}