@charset "utf-8";

/* 환영합니다 */
#introduction { padding: 0;}
#welcome {padding:50px 10px; text-align: center;}
#welcome .welcome_logo img {width:100px;}
#welcome .welcome_intro h3 {padding:30px 0 15px; font-family:'Playfair Display', serif; font-size:18px;color:#a9aaab; font-weight:600; }
#welcome .welcome_intro h2 {font-size: 21px; letter-spacing: -0.5px;}
#welcome .welcome_intro hr {width:170px; border-color:#0066B3; margin-top: 30px; margin-bottom: 30px;}
#welcome .welcome_intro p a{font-weight:500;}
#welcome .welcome_intro p > a:nth-child(3) {color:#0066B3}
#welcome .welcome_intro p > a:nth-child(4) {color:#A5D546}
@media all and (min-width:375px){
	#welcome {padding:50px 30px;}
	#welcome .welcome_logo img {width:120px;}
	#welcome .welcome_intro h3 {font-size:20px;}
	#welcome .welcome_intro h2 {font-size:23px;}
	#welcome .welcome_intro p {font-size:15px;}
}
@media all and (min-width:768px){
	#welcome {display:flex; padding-top:30px;}
	#welcome .welcome_logo {float:left; width:35%;}
	#welcome .welcome_logo img { width:140px; position:relative; top:20%; left: 10%;}
	#welcome .welcome_intro {width:65%; text-align: left; padding-left:20px;}
	#welcome .welcome_intro h3 {text-align: left; }
	#welcome .welcome_intro hr {margin-left:0;}
}
@media all and (min-width:1024px){
	#welcome {width:1024px; margin: 0 auto;}
	#welcome .welcome_logo img { width:160px; left:15%;}
	#welcome .welcome_intro h3 {font-size:24px}
	#welcome .welcome_intro h2 {font-size:27px;}
	#welcome .welcome_intro p {font-size:18px;}
}

/* 비전과 목표 */
#vision {padding:50px 10px 30px; background-color: #f7f7f7; text-align: center;}
#vision .content_top {padding: 0 0 30px;}
#vision .content_top h3 { font-size:2rem; }
#vision .slogan_area { margin:0 auto 30px; max-width:400px; }
#vision .slogan_area ul > li {float:left; width:33.33%; text-align:center;}
#vision .slogan_area ul > li > img { display:block; width:60%; margin:0 auto;}
#vision .slogan_area ul > li > span { display: block; width:90%;margin:15px auto; padding:8px 3px 6px; font-size:15px; border-radius:5px; background:#62AEF8; color:#fff; font-weight:500; letter-spacing:-0.04em;}
#vision .slogan_area ul > li:nth-child(2) > span { background-color: #e6bf6c;}
#vision .slogan_area ul > li:nth-child(3) > span { background-color: #b3cc75;}
#vision p b {font-size: 1.08em;}
@media all and (min-width:375px){
	#vision .slogan_area ul > li > span { font-size:17.5px;}
	#vision p { font-size:15px;}
}
@media all and (min-width:768px){
	#vision { padding: 50px 10px;}
	#vision .slogan_area ul > li > span { font-size:20px;}
}
@media all and (min-width:1024px){
	#vision { padding: 70px 10px 50px;}
	#vision .slogan_area { margin:0 auto 30px; max-width:600px; }
	#vision .slogan_area ul > li > img { width:100px;}
	#vision .slogan_area ul > li > span { width:80%; font-size:24px; padding: 10px 3px 8px;}
	#vision p { font-size:18px;}
}
@media all and (min-width:1200px){
	#vision { padding: 90px 10px 50px;}
	#vision .content_top h3 { padding: 0 0 25px;}
}

/* 교회 표어 */
#vision_year { padding:30px 0 50px; background-color: #f7f7f7; text-align: center;}
#vision_year h3 { display:block; width:220px; padding:9px 0 7px; font-size:18px; margin: 0 auto 30px; border:2px solid #62AEF8; font-weight:500; border-radius:30px; letter-spacing:-0.04em; }
#vision_year .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: block; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;
	justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; padding: 12px; box-shadow: 0 2px 6px rgb(0 0 0 / 6%); -webkit-tap-highlight-color: transparent; flex-shrink: 0; box-sizing: border-box; border-radius: 12px; overflow: hidden; background-color: #fff; }
#vision_year .swiper-slide > div { display:inline-table; height:130px; text-align:left;}
#vision_year .swiper-slide span:before{ display:inline-block; content:""; position:relative; top:2px; width:16px; height:16px; background:url(../images/sub/bullet_h4.gif) center no-repeat; background-size:cover; margin-right:10px; }
#vision_year .swiper-slide span { display: inline-block; font-size:15px; font-weight:500; margin:5px 5px 15px; color:#757575;}
#vision_year .swiper-slide img { display: block; width: 100%; object-fit: cover; margin:0 auto; }
#vision_year .swiper-wrapper > div:first-child { margin-left: 10vw; }
#vision_year .swiper-container { width: 100%; height: 100%; }
@media all and (min-width:375px){
	#vision_year .swiper-slide img { max-width:400px;}
}
@media all and (min-width:768px){
	#vision_year .swiper-slide > div {margin: 20px 0;}
	#vision_year h3 { font-size:24px; width:320px; padding: 15px 0 13px;}
}
@media all and (min-width:1024px){
	#vision_year .swiper-wrapper > div:first-child { margin-left: calc( 50% - 250px ) }
}


/* 교회 연혁 */
#history { padding:30px 15px; margin:0 auto;}
#history .tab_list li{float:left;width:33.33%;padding:13px 0;font-size: 17px;font-weight:400;text-align: center;letter-spacing: -0.04em;background: #c7c4c2;color:#756d66;cursor: pointer;}
#history .tab_list li.on{background: #756d66;color:#fff;}
#history .tab_item{display:none;}
#history .tab_item.on{display:block;}
#history .tab_his .tab_item{position: relative;margin:50px 0 0;padding:0}
#history .tab_his .date_item:before{position: absolute;top:0;left:27.5px;display: block;clear: both;content: '';width:1px;background: #c7c4c2;height:100%;}
#history .tab_his .date_item:last-child:before{display: none;}
#history .tab_his .date_item{position: relative;padding:0 0 40px 0;}
#history .tab_his .date_his{float:left;width:55px;}
#history .tab_his .date_item:nth-child(2n-1) .date_his>div{background:#e6bf6c}
#history .tab_his .date_his>div{position: relative;width:100%;height:55px;border-radius: 50%;background:#efd8a8;text-align: center;color:#3a2c2d;font-size: 10px;line-height: 10px;}
#history .tab_his .date_his span{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);font-weight: 600;letter-spacing: -0.05em;color:#6d5642;font-size: 1.4em;}
#history .tab_his .tab_item .date_txt{position: relative;float:left;width:80%;min-height: 55px;padding:0 0 0 5%;}
#history .tab_his .tab_item .date_txt_h{min-height:240px;}
#history .tab_his .tab_item .data_txt_h2{min-height: 150px;}
#history .tab_his .tab_item .data_txt_h3{min-height: 100px;}
#history .tab_his .tab_item .date_txt_v2>ul{position: absolute;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);margin:0;}
#history .tab_his .tab_item .date_txt>ul{margin-bottom:20px;}
#history .tab_his .tab_item .date_txt>ul>li{margin:0 0 10px;font-size: 14px;line-height: 1.5;font-weight: 400; letter-spacing: -0.5px;}
#history .tab_his .tab_item .date_txt>ul>li span.date_month {display:block; color:#bb4040; font-weight:500;}
#history .tab_his .tab_item .date_txt>ul>li span.date_txt_add {display:block; width:fit-content; line-height:1.5em; font-weight:300; font-size:0.97em; padding:12px 20px; border-radius: 8px;  margin:10px 0; background: #f1f1f1}
@media all and (min-width:375px){
	#history {max-width:400px;}
}
@media all and (min-width:768px){
	#history {max-width:800px;}
	#history .tab_his .tab_item{padding:0}
	#history .tab_his .date_item:before{left:50px;}
	#history .tab_his .date_his{width:100px;}
	#history .tab_his .date_his>div{height:100px;font-size: 18px;}
	#history .tab_his .tab_item .date_txt{width:85%;}
}
@media all and (min-width:1024px){
	#history {max-width:1200px;}
	#history .tab_his .tab_item .date_txt_h{min-height: 170px;}
	#history .tab_his .date_item:before{left:55px;width:2px;}
	#history .tab_his .date_his{width:110px;}
	#history .tab_his .date_his>div{height:110px;font-size: 20px;}
	#history .tab_his .tab_item .date_txt{width:87.5%;}
	#history .tab_his .tab_item .date_txt_v2>ul{margin:-10px 0 0;}
	#history .tab_his .tab_item .date_txt>ul>li{margin:10px 0 0;font-size: 16.5px;}
}

/* 섬기는 사람들 */
#people {max-width:400px; margin:auto;}
.pp_box{margin:40px 0 0;}
.pp_box01{margin-bottom:20px;}
.pp_box01 .pastor_img{width:200px; margin:0 auto;}
.pp_box01 .pastor_img img{display: block;width:100%;}
.pp_box01 .pastor_txt{float:none;width:100%;padding:30px 0 0;}
.pp_box01 ul li{position: relative;color:#3a2c2d;letter-spacing: -0.04em;font-size: 15px;line-height: 25px;margin-left: 20px;text-indent: -18px;}
.pp_box01 ul li:before{position: relative;top:-2px;display: inline-block;clear:both;content:'';width:8px;height:8px;margin:0 10px 0 0;border-radius: 50%;background: #756d66}
.pp_box01 ul li:first-child:before{display: none;}
.pp_box01 ul li:first-child{text-align:center;margin:0 0 30px 0;color:#58524c;font-size: 20px;line-height: 1;text-indent:0;}
.pp_box01 ul li:first-child b{ font-weight: 600; font-size:22px}
.pp_box01 ul li:first-child span{ display: block; margin-top: 10px; font-weight: 200; font-size: 16px;}
.pp_box01 ul li:first-child a{display: block;width:200px;padding:8px 0;margin:10px auto 30px;border-radius: 20px;background: #756d66;font-weight:500;color:#fff;font-size: 14px;letter-spacing: -0.04em;text-align: center;}
.pp_box01 ul hr { width: 200px; border: solid 1px #eee; margin: 30px auto;}
.pp_box02 .pp_list .pp_item{float:left;width:48%;margin:0 4% 30px 0}
.pp_box02 .pp_list .pp_item:nth-child(2n){margin:0 0 20px 0 !important}
.pp_box02 .pp_list .pp_item:nth-child(3n){margin:0 4% 20px 0}
.pp_box02 .pp_list .pp_item img{display: block;width:90%; margin:auto;}
.pp_box02 .pp_list .pp_info{max-width: 100%;padding:15px 5px 12px;text-align: center;}
.pp_box02 .pp_list .pp_info li{color:#3a2c2d;font-size: 14px;letter-spacing: -0.025em;line-height: 1.5}
.pp_box02 .pp_list .pp_info li:first-child{margin:0 0 5px 0;color:#58524c;font-size: 17px; font-weight:400; letter-spacing: -0.04em;line-height: 1.5}
.pp_box02 .pp_list .pp_info li:nth-child(2){background: #ede5dd; border-radius:10px; padding:2px 0 1px;}
.pp_box02{margin:50px 0 0;}
.pp_box02 .pp_list .pp_info li{line-height: 1.5}
@media all and (min-width:768px){
	#people {max-width:768px;}
	.pp_box01 { display:flex; padding:40px 40px 0;}
	.pp_box01 .pastor_img{width:300px; padding-top: 20px;}
	.pp_box01 .pastor_txt{padding:0 0 0 30px;}
	.pp_box01 ul li:first-child{text-align:left; font-size:21px;}
	.pp_box01 ul li:first-child b{ font-size:24px;}
	.pp_box01 ul li:first-child span{ display:inline; margin-left:10px;}
	.pp_box01 ul hr { display:none;}
	.pp_box02 .pp_list .pp_item{width:20%;margin:0 4% 30px !important;}
	.pp_box02 .pp_list .pp_info li{font-size: 14px;}
	.pp_box02 .pp_list .pp_info li:first-child{font-size: 22px;}
	.pp_box02 .pp_list .pp_item img{max-height: none}
}
@media all and (min-width:1024px){
	#people {max-width:1024px;}
	.pp_box01 { padding:40px 60px 20px;}
	.pp_box01 .pastor_img{width:350px; padding-top:0;}
	.pp_box01 .pastor_txt{padding: 20px 0 0 40px;}
	.pp_box02 .pp_list .pp_item{width:170px;margin:0 60px 30px !important;}
}
@media all and (min-width:1200px){
	#people {max-width:1200px;}
}

/* 설교영상 */
#bo_v_info {padding:25px 40px;margin:30px 0 0;color:#625d5e;font-size: 20px;font-weight: 500;}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info .bo_v_user{line-height: 35px}
.bo_v_user {margin-bottom:0px; text-align:center;}
.bo_v_user span{display: inline-block;margin:0 30px 0 0;}
.bo_v_user strong {display:inline-block;margin:0 10px 0 0;font-weight:500;color:#a2a1a1}

/* 로그인 */
.login-block{
	background: #DE6262;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	float:left;
	width:100%;
	padding : 50px 0;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
#login-container.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

/* 사이트맵 */
.sitemap > ul{ position:relative; overflow:hidden}
.sitemap > ul > li{ float:left; width:100%; margin-right:0%; margin-bottom:2%; border-top:#909090 solid 2px;}
.sitemap > ul > li:nth-child(even){ margin-right:0;margin-bottom:0}
.sitemap > ul > li > span{ display:block; float:left; width:50%; color:#272727; font-size:27px; font-weight:500; padding:18px 0 20px 10px}
.sitemap > ul > li > span.new_win{ width:60%; background:url(../img/new_win.jpg) 80% 50%  no-repeat}
.sitemap > ul > li > ul{ overflow:hidden}
.sitemap > ul > li > ul > li {  border-bottom:#e0e0e0 solid 1px}
.sitemap > ul > li > ul > li:last-child {  border-bottom:0}
.sitemap > ul > li > ul > li > a{ display:block; padding:13px;}
.sitemap > ul > li > ul > li > a:hover{  color:#e1e1e1}
.sitemap > ul > li > ul > li > ul { padding-top:6px; padding-left:20px;  padding-bottom:16px;  background:#f9f9f9; border-top:#e0e0e0 solid 1px;}
.sitemap > ul > li > ul > li > ul > li a{ display:block; padding-bottom:6px}
@media all and (min-width:640px){
	.sitemap > ul > li{ float:left; width:47%; margin-right:6%; margin-bottom:2%; border-top:#909090 solid 2px;}
	.sitemap > ul > li > span{ display:block; float:left; width:50%; color:#272727; font-size:27px; font-weight:500; padding:28px 0 20px 20px}
	.sitemap > ul > li > span.new_win{width:50%; background:url(../img/new_win.jpg) 80% 25px  no-repeat}
	.sitemap > ul > li > ul > li a{ display:block; padding:10px;}
	.sitemap > ul > li > ul > li > ul > li a{ font-size:12px}
}

/* 개인정보처리방침 & 이용약관 & 이메일무단수집거부 */
.co_wrap{max-width: 1010px;padding:0 35px 10px 35px;margin:0 auto;border:2px solid #d9d9d9}
.co_wrap .co_title{margin:50px 0 30px 0;font-size: 22px;color:#3a2c2d;font-weight: 500;letter-spacing: -0.04em;}
.co_wrap .co_title:first-child{margin:40px 0 30px;}
.co_wrap p{margin:0 0 30px 0;color:#3a2c2d;font-size: 14px;letter-spacing: -0.04em;line-height: 25px;word-break:keep-all;}
.co_wrap p span{display: block;margin:0 0 0 20px}
.mail_wrap p{margin:30px 0;text-align: center;color:#646363;font-size: 20px;line-height: 35px;letter-spacing: -0.025em;}
@media screen and (max-width: 767px){
  .co_wrap{padding:0 15px 10px 15px}
  .co_wrap .co_title:first-child{margin:30px 0 20px}
  .co_wrap .co_title{margin:40px 0 20px;font-size: 19px;line-height: 1.3}
  .mail_wrap img{width:45%;max-width: 200px;}
  .mail_wrap p{font-size: 14px;line-height: 1.6;word-break: keep-all;}
  .mail_wrap p br{display: none}
}