@font-face {
  font-family: 'HSBombaram21-Regular';
  src: url('../fonts/HSBombaram21-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* layout.css 오버라이딩 */
@media
only screen and (min-width: 768px){
  .content{padding:0 30px 20px}
}

html, body{width: auto;height: auto}
.wrapper{--page-default-padding-x: 20px;display: flex;flex-direction: column;overflow: hidden;min-height: 100vh}
.inner_comm{max-width: calc(1600px + var(--page-default-padding-x)* 2);margin:0 auto;padding:0 var(--page-default-padding-x);font-size: 20px}

/* Header */
.header_comm{flex:none;position: relative;z-index: 1000}
.wrapper .header_comm{position: absolute;top:0;left: 0;right: 0}

.pc_gnb_area{display: none;position: relative}
.pc_gnb_area h1{position: absolute;top:5px;left: var(--page-default-padding-x);z-index: 10}
.pc_gnb_area h1 a{display: block;padding:15px 0}
.pc_gnb_area h1 a img{display: none;vertical-align: top}
.pc_gnb_area h1 a .logo_white{display: block}
.pc_gnb_area nav{display: flex;justify-content: center;position: relative;border-bottom: 1px solid rgba(255,255,255,.1)}
.pc_gnb_area .info_menus{display: flex;gap:5px;align-items: center;position: absolute;top:23px;right: var(--page-default-padding-x)}

.pc_gnb{display: flex;padding-top: 17px}
.pc_gnb .box_gnb{display: none;position: absolute;top:100%;left: 0;right: 0;z-index: 10;border-bottom: 1px solid #e5e5e5;background: #f6f6f6}
.pc_gnb .box_gnb .tit_bg{display: flex;justify-content: flex-end;width: 429px;height: 359px;margin-left: 8%;margin-right: 10%;padding:40px 70px 0 0;font-family: 'HSBombaram21-Regular', sans-serif;font-size: 28px;line-height: 34px;color:#fff;background: 0 0 no-repeat;background-size: cover;text-align: right;word-break: keep-all}
.pc_gnb .box_gnb .tit_bg span{display: block;width: 260px;animation: pcGnbTitAni forwards 1s}
.pc_gnb .bg_gnb{position: absolute;bottom:0;right: 0;width: 543px;height: 358px;background: 0 0 no-repeat;background-size: cover;animation: pcGnbBgAni forwards 1s;content:''}

.pc_gnb .box_gnb .tit_bg1{background-image: url(../images/common/bg_menu_before00.png)}
.pc_gnb .box_gnb .tit_bg2{background-image: url(../images/common/bg_menu_before01.png)}
.pc_gnb .box_gnb .tit_bg3{background-image: url(../images/common/bg_menu_before02.png)}
.pc_gnb .box_gnb .tit_bg4{background-image: url(../images/common/bg_menu_before03.png)}
.pc_gnb .box_gnb .tit_bg5{background-image: url(../images/common/bg_menu_before04.png)}
.pc_gnb .box_gnb .tit_bg6{background-image: url(../images/common/bg_menu_before05.png)}

.pc_gnb .bg_gnb1{background-image: url(../images/common/bg_menu_after01.jpg)}
.pc_gnb .bg_gnb2{background-image: url(../images/common/bg_menu_after02.jpg)}
.pc_gnb .bg_gnb3{background-image: url(../images/common/bg_menu_after03.jpg)}
.pc_gnb .bg_gnb4{background-image: url(../images/common/bg_menu_after04.jpg)}
.pc_gnb .bg_gnb5{background-image: url(../images/common/bg_menu_after05.jpg)}
.pc_gnb .bg_gnb6{background-image: url(../images/common/bg_menu_after06.jpg)}

.pc_gnb .link_depth1{flex:none;display: block;position: relative;padding:24px 30px 23px;font-weight: 700;font-size: 20px;line-height: 28px;color:#fff;transition: all .3s}
.pc_gnb .link_depth1:hover,
.pc_gnb .link_depth1.active{color:#56CB3A}
.pc_gnb .link_depth1.active:before{display: block;overflow: hidden;font-size: 1px;line-height: 0;color:transparent;content:'활성화된 탭'}

.pc_gnb > li.on .box_gnb{display: flex}
.pc_gnb .pc_gnb_depth2{position: relative;z-index: 10;width: 250px;padding:23px 0 27px;border-left: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;font-size: 18px;line-height: 24px;color:#4B4B4B;background: #fff}
.pc_gnb .pc_gnb_depth2:before{position: absolute;top:0;left: 0;right: 0;border-top: 4px solid #0464f5;content: ''}
.pc_gnb .pc_gnb_depth2 > li{animation: pcGnbDepth2Ani forwards 1s}
.pc_gnb .link_depth2{display: block;padding:8px 17px 8px 30px;font-size: 16px;line-height: 20px;color:#000}
.pc_gnb .link_depth2:hover, .pc_gnb .link_depth2:focus{font-weight: 700}
.pc_gnb .link_depth2 span{display: inline-block;position: relative;vertical-align: top}
.pc_gnb .link_depth2 span:before{position: absolute;top:4px;left: -15px;width: 6px;height: 6px;border-radius: 50%;background: #0067fa;opacity: 0;transition: opacity .3s;content:''}
.pc_gnb .link_depth2 span:after{position: absolute;left: 50%;bottom:-1px;width: 0;height: 1px;background: currentColor;transform: translateX(-50%);transition: all .3s;content:''}
.pc_gnb .link_depth2:hover span:after, .pc_gnb .link_depth2:focus span:after{width: 100%}
.pc_gnb .link_depth2:hover span:before, .pc_gnb .link_depth2:focus span:before{opacity: 1}
.pc_gnb_area.on{background: #fff}
.pc_gnb_area.on h1 .logo_white{display: none}
.pc_gnb_area.on h1 .logo_blue{display: block}
.pc_gnb_area.on .link_depth1{color:#000}
.pc_gnb_area.on .pc_gnb > li.on .link_depth1{color:#0067fa}
.pc_gnb_area.on .pc_gnb .link_depth1.active{color:#0067fa}
.pc_gnb_area.on nav:before{position: absolute;top:91px;left: 0;right: 0;height: 1px;background: rgba(121, 121, 121, .1);content:''}
.pc_gnb_area.on .link_depth1{padding:24px 40px 23px}
.pc_gnb_area.on .btn_sitemap{--btn-icon-color:#000}
.pc_gnb_area.on .set_lang .link_lang{border-color:#000;color:#000}

.set_lang{position: relative}
.set_lang .link_lang{display: flex;gap:10px;align-items: center;padding:8px 18px 7px;border-radius: 18px;border:1px solid transparent;font-weight: 500;font-size: 16px;line-height: 19px;color:#fff}
.set_lang .link_lang i{display: block;position: relative;top:50%;font-size: 8px;transform:rotate(180deg)}
.set_lang .list_language{overflow: hidden;position: absolute;top: calc(100% + 5px);right: 0;min-width: 100%;max-height: 0;border:1px solid #000;border-radius: 10px;background:#fff;opacity: 0;visibility: hidden;transition: all .3s}
.set_lang .list_language li + li{border-top:1px dashed #ddd}
.set_lang .list_language a{display: block;padding:10px 25px 10px 18px;font-weight: 400;font-size: 16px;line-height: 19px;color:#000;text-underline-offset: 3px}
.set_lang .list_language a:hover, .set_lang .list_language a:focus{font-weight: 700;text-decoration: underline}
.set_lang .link_lang[aria-expanded="true"]{border-color: #fff}
.set_lang .link_lang[aria-expanded="true"] + .list_language{max-height: 200px;opacity: 1;visibility: visible}
.set_lang .link_lang[aria-expanded="true"] i{transform:rotate(0)}

.btn_sitemap {
  --btn-padding-x: 15px;
  --btn-padding-y: 22px;
  --btn-icon-width: 30px;
  --btn-icon-height: 3px;
  --btn-icon-center-width: 21px;
  --btn-icon-gap: 14px;
  --btn-icon-color: #fff;
  display: flex;
  align-items: center;
  margin-right: calc(var(--btn-padding-x) * -1);
  padding: var(--btn-padding-y) var(--btn-padding-x) var(--btn-padding-y) calc(var(--btn-padding-x) + 9px);
}
.btn_sitemap .ico_comm {overflow: visible;position: relative;width: var(--btn-icon-center-width);height: var(--btn-icon-height);background: var(--btn-icon-color);}
.btn_sitemap .ico_comm:before, .btn_sitemap .ico_comm:after {position: absolute;width: var(--btn-icon-width);height: var(--btn-icon-height);background: var(--btn-icon-color);content: ''}
.btn_sitemap .ico_comm:before {top: calc( -1 * var(--btn-icon-gap));right: 0}
.btn_sitemap .ico_comm:after {top: var(--btn-icon-gap);right: 0}

.m_gnb_area .inner_comm{display: flex;align-items: center;min-height: 80px;padding-top:10px;padding-bottom:10px;;background: #fff}
.m_gnb_area .link_logo{margin-right: auto}
.m_gnb_area .btn_sitemap{--btn-icon-color:#000;--btn-icon-gap: 10px;--btn-icon-width:20px;--btn-icon-center-width:14px}
.m_gnb_area nav{overflow: auto;position: fixed;top:0;left: 0;bottom:0;width: calc(100% - 80px);max-width: 400px;background: #fff;opacity: 0;visibility: hidden;transform:translateX(-100%);transition: all .3s;box-shadow: 5px 0 5px rgba(0,0,0,.1)}
.m_gnb_area .btn_sitemap[aria-expanded="true"] + nav{transform: translateX(0);opacity: 1;visibility: visible}
.m_gnb_area .list_language{padding:25px 20px 10px;display: flex;gap: 10px}
.m_gnb_area .list_language li{flex:1;min-width: 0}
.m_gnb_area .list_language a{display: flex;justify-content: center;padding:5px 0;border:1px solid #F1F1F1;border-radius: 5px;font-weight: 300;font-size: 14px;line-height: 24px;color:#000;text-align: center}

.m_gnb .link_depth1{display: flex;align-items: center;position: relative;padding:10px 60px 8px 32px;border-bottom: 1px solid #f1f1f1;font-weight: 700;font-size: 19px;line-height: 26px;color:#000}
.m_gnb .link_depth1:after{position: absolute;top:50%;right: 32px;font-weight: 100;font-family: "Font Awesome 6 Pro";transform: translateY(-50%);content:'\f107'}
.m_gnb .link_depth1[aria-expanded="true"]:after{content:'\f068'}
.m_gnb .link_depth2{display: block;position: relative;font-weight: 300;font-size: 18px;line-height: 35px;color:#4B4B4B;}

.m_gnb_depth2{display: none;padding:10px 20px 7px 48px;background: #FAFAFA}

/* Footer */
.footer_comm{flex:none;position: relative;margin-top: auto;background: #F3F3F3}
.footer_comm .btn_top{--btn-size-gap: 10px;display: flex;align-items: center;justify-content: center;position: fixed;bottom: 30px;right: var(--page-default-padding-x);z-index: 500;width: 45px;height: 45px;padding: 0;border-radius: 50%;border: 0;font-size: 16px;line-height: 22px;color: #fff;background: none;opacity: 0;visibility: hidden;cursor: pointer}
.footer_comm .btn_top i{position: relative;font-size: 14px;z-index: 10}
.footer_comm .btn_top:before, .footer_comm .btn_top:after{position: absolute;border-radius: 50%;background:#07387E;content:''}
.footer_comm .btn_top:before{width: 100%;height: 100%;opacity: .3}
.footer_comm .btn_top:hover:before{animation: topBtnAni 1.5s infinite}
.footer_comm .btn_top:after{width: calc(100% - var(--btn-size-gap));height: calc(100% - var(--btn-size-gap));box-sizing: content-box;}
.footer_comm .btn_top span{display: block}
.footer_comm .btn_top.on{opacity: 1;visibility: visible}
.footer_comm .btn_top.btn_fix{position: absolute;top: 0;transform: translateY(-50%)}

.area_relate{padding:15px 0 10px;border-bottom:1px solid rgba(51, 51, 51, .2)}
.area_relate .inner_comm{display: flex;flex-wrap: wrap;position: relative}
.area_relate .tit_relate{display: block;padding:6px 15px;border-radius: 5px;font-weight: 500;font-size: 14px;line-height: 18px;color:#fff;background:#07387E}
.area_relate .nav_slide{display: flex;gap:5px;margin-left: auto}
.area_relate .nav_slide .btn_action, .area_relate .nav_slide .btn_ctrl{width: 30px;height: 30px;border:0;border-radius: 5px;background: rgba(0,0,0,.05)}
.area_relate .nav_slide .btn_action i, .area_relate .nav_slide .btn_ctrl i{font-size: 15px; color:#000}
.area_relate .nav_slide .btn_ctrl{display: none}
.area_relate .nav_slide .btn_ctrl.active{display: block}
.area_relate .nav_slide .btn_prev{order:-1}
.slide_relate_site{width: 100%;padding-top: 10px}
.slide_relate_site .swiper-wrapper{align-items: center}
.slide_relate_site .swiper-slide{width: auto;height: auto}
.slide_relate_site a{display: flex;gap:5px;align-items: center;padding:5px 0;font-size: 14px;line-height: 18px;color:#333}
.slide_relate_site a i{line-height: 18px;color:rgba(0,0,0,.4)}
.area_foot{padding: 30px 0 60px;text-align: center;word-break: keep-all;word-wrap: break-word}
.area_foot .inner_comm{display: flex;flex-direction: column;align-items: center}
.area_foot .logo_foot{display: inline-flex;gap:10px;align-items: center}
.area_foot .logo_foot a, .area_foot .logo_foot img{display: block}
.area_foot .logo_foot img{width: 100%}
.area_foot .logo_foot .link_logo{width: 113px}
.area_foot .logo_foot .link_wa{width: 90px}
.area_foot .info_page{order:1;padding-top: 20px}
.area_foot .info_page ul{display: flex;gap:0 10px;flex-wrap: wrap;justify-content: center}
.area_foot .info_page ul a{display: block;padding:5px 0;font-weight: 500;font-size: 12px;line-height: 16px;color:#595959}
.area_foot .info_page ul .txt_emph{font-weight: 700;color:#07387E}
.area_foot .info_page address{padding-top: 15px;font-style: normal;font-size: 12px;line-height: 16px;color:#595959}
.area_foot .info_page small{display: block;padding-top: 10px}

@keyframes topBtnAni {
  0%   {opacity: .5;transform: scale(.8);}
  100% {opacity: 0;transform: scale(1.2)}
}
@keyframes pcGnbDepth2Ani {
  0%   {opacity: 0;transform: translateY(20px)}
  100% {opacity: 1;transform: translateY(0)}
}
@keyframes pcGnbTitAni {
  0%   {opacity: 0;transform: translateX(-20px)}
  100% {opacity: 1;transform: translateX(0)}
}
@keyframes pcGnbBgAni {
  0%   {opacity: 0;transform: translateX(20px)}
  100% {opacity: 1;transform: translateX(0)}
}

@media
only screen and (min-width: 360px) {
  .m_gnb_area .list_language a{font-size: 18px}
}
@media
only screen and (min-width: 768px) {
  .wrapper{--page-default-padding-x: 30px}
  .area_relate .inner_comm{flex-wrap: nowrap;align-items: center}
  .area_relate .tit_relate{padding: 9px 26px;border-radius: 18px}
  .area_relate .nav_slide{flex:none;padding:0 34px 0 20px}
  .slide_relate_site{flex:1;min-width: 0;width: auto;padding-top: 0}
}
@media
only screen and (min-width: 1024px) {
  .area_foot{padding: 40px 0 80px}
  .area_foot .inner_comm{position: relative;flex-direction: row;align-items: flex-start;gap:50px;text-align: left}
  .area_foot .info_page{padding-top: 0}
  .area_foot .info_page ul{justify-content: flex-start}
  .area_foot .logo_foot .link_wa{position: absolute;top:0;right: var(--page-default-padding-x)}
  .area_foot .info_page ul a{font-size: 16px;line-height: 19px}
  .area_foot .info_page ul li + li{display: flex;gap:10px;align-items: center}
  .area_foot .info_page ul li + li:before{width: 1px;height: 10px;background: #333;opacity: .3;content:''}
  .area_foot .info_page address{padding-top: 20px;font-size: 16px;line-height: 19px}
  .area_foot .info_page small{padding-top: 5px}
}
@media
only screen and (min-width: 1400px) {
  .pc_gnb_area{display: block}
  .m_gnb_area{display: none}
  .footer_comm .btn_top{width: 60px;height: 60px}
  .footer_comm .btn_top i{font-size: 19px}
  .area_relate .nav_slide .btn_action, .area_relate .nav_slide .btn_ctrl{cursor: pointer}
  .area_relate .nav_slide .btn_action:hover,
  .area_relate .nav_slide .btn_ctrl:hover,
  .area_relate .nav_slide .btn_action:focus-visible,
  .area_relate .nav_slide .btn_ctrl:focus-visible{opacity: .75}
  .slide_relate_site .swiper-slide span{text-decoration: underline transparent;text-underline-offset: 3px;transition: all .3s}
  .slide_relate_site .swiper-slide:hover span{text-decoration-color: currentColor}
  .area_foot .info_page ul{gap:0 25px}
  .area_foot .info_page ul li + li{gap:25px}
}


/* 글로벌 버전 오버라이딩 */
.wrapper.global .pc_gnb .link_depth1{padding:10px 20px 28px}
.wrapper.global .pc_gnb_area.on .link_depth1{padding:15px 20px 23px}